@model IEnumerable<kundt_front_end.Models.tblAuto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Baujahr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Getriebe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tueren)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sitze)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MietPreis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VerkaufPreis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kilometerstand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AutoBild)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Anzeigen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblKategorie.Kategorie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblTreibstoff.Treibstoff)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblTyp.Typ)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Baujahr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Getriebe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tueren)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sitze)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MietPreis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VerkaufPreis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kilometerstand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AutoBild)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Anzeigen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblKategorie.Kategorie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblTreibstoff.Treibstoff)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblTyp.Typ)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDAuto }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDAuto }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDAuto })
        </td>
    </tr>
}

</table>
