@model kundt_front_end.Models.ModelStepClass
@{
    ViewBag.Title = "Kundt Autoverleih Kundendaten";
}
<style>
    .h4Step3 {
        padding-top: 5px;
        color: #002f41;
    }

    .okZeichen1 {
        list-style-image: url(../../../../Content/img/ok-sign.png);
        padding-bottom: 10px;
    }

    .buttonOrangeForwardStep3 {
        background-color: #f99b1c;
        border: none;
        color: #ffffff;
        font-size: 1em;
        height: 37.5px;
        width: 150px;
        font-weight: 700;
        letter-spacing: .5px;
        text-align: center;
        border-radius: 4px;
    }

    .buttonOrangeForwardStep3OhneAnimation {
        background-color: #f99b1c;
        border: none;
        color: #ffffff;
        font-size: 1em;
        height: 37.5px;
        width: 150px;
        font-weight: 700;
        letter-spacing: .5px;
        text-align: center;
        display: inline-block;
        border-radius: 4px;
    }

    .buttonOrangeForwardStep3OhneAnimation:disabled {
        background-color: #CCC;
        border: none;
        color: #ffffff;
        font-size: 1em;
        height: 37.5px;
        width: 150px;
        font-weight: 700;
        letter-spacing: .5px;
        text-align: center;
        display: inline-block;
        border-radius: 4px;
    }

    .buttonOrangeForwardStep3 span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

        .buttonOrangeForwardStep3 span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -30px;
            transition: 0.5s;
            font-size: 15px;
        }

    .buttonOrangeForwardStep3:hover span {
        padding-right: 15px;
    }

        .buttonOrangeForwardStep3:hover span:after {
            opacity: 1;
            right: 0;
        }

    .buttonOrangeForwardStep3:hover {
        background-color: #f99b1c;
        border: none;
        color: #ffffff;
        font-size: 1em;
        height: 37.5px;
        width: 150px;
        font-weight: 700;
        letter-spacing: .5px;
        text-align: center;
    }

    .buttonOrangeReturnStep3 {
        background-color: #f99b1c;
        border: none;
        color: #ffffff;
        font-size: 15px;
        height: 50px;
        width: 200px;
        font-weight: 700;
        letter-spacing: .5px;
        text-align: center;
        display: inline-block;
        border-radius: 4px;
    }

        .buttonOrangeReturnStep3 span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }

            .buttonOrangeReturnStep3 span:after {
                content: '\00ab';
                position: absolute;
                opacity: 0;
                top: 0;
                left: -30px;
                transition: 0.5s;
                font-size: 15px;
            }

        .buttonOrangeReturnStep3:hover span {
            padding-left: 15px;
        }

            .buttonOrangeReturnStep3:hover span:after {
                opacity: 1;
                left: 0;
            }

        .buttonOrangeReturnStep3:hover {
            background-color: #f99b1c;
            border: none;
            color: #ffffff;
            font-size: 15px;
            height: 50px;
            width: 200px;
            font-weight: 700;
            letter-spacing: .5px;
            text-align: center;
        }

    .collapseForm {
        margin-bottom: 15px;
    }

    .noLiMarker {
        list-style-type: none;
    }

    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 80%; /* Could be more or less, depending on screen size */
    }

    /* The Close Button */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

    .paddingSmallStep4 {
        padding-top: 20px;
    }
    /* Progress-Bar */
    .miniButton {
        color: white;
        height: 35px;
        width: 35px;
        background-color: #f99b1c;
        border-radius: 35px;
        font-size: 18px;
        border-style: none;
        border-left: solid 1px;
        border-bottom: solid 1px;
        border-left-color: antiquewhite;
        border-bottom-color: antiquewhite;
        margin: auto 0% auto 1%;
    }

    .miniButtonOp {
        color: white;
        height: 35px;
        width: 35px;
        background-color: #f99b1c;
        border-radius: 35px;
        font-size: 18px;
        border-style: none;
        border-left: solid 1px;
        border-bottom: solid 1px;
        border-left-color: antiquewhite;
        border-bottom-color: antiquewhite;
        margin: auto 0% auto 1%;
        opacity: 0.3;
    }

    .myButton {
        color: white;
        height: 45px;
        width: 45px;
        background-color: #f99b1c;
        border-radius: 45px;
        font-size: 25px;
        border-style: none;
        border-left: solid 1px;
        border-bottom: solid 1px;
        border-left-color: antiquewhite;
        border-bottom-color: antiquewhite;
        margin: auto 0% auto 1%;
    }

    .myButtonOp {
        color: white;
        height: 45px;
        width: 45px;
        background-color: #f99b1c;
        border-radius: 45px;
        font-size: 25px;
        border-style: none;
        opacity: 0.3;
        border-bottom: solid 1px;
        border-bottom-color: antiquewhite;
        border-left: solid 1px;
        border-left-color: antiquewhite;
        margin: auto 0% auto 1%;
    }

    .myButton:active {
        height: 40px;
        width: 40px;
        border-radius: 40px;
        font-size: 22px;
        animation-name: anima01;
        animation-iteration-count: infinite;
        animation-duration: 2.5s;
    }

    .myButtonOp:focus, .myButton:focus, .miniButton:focus, .miniButtonOp:focus {
        outline: none;
    }

    .noCurs {
        cursor: default;
    }

    .opacity {
        opacity: 1.0;
    }

    @@keyframes anima01 {
        0% {
            background-color: darkorange;
        }

        25% {
            background-color: #f99b1c;
        }

        50% {
            background-color: darkorange;
        }

        75% {
            background-color: #f99b1c;
        }

        100% {
            background-color: darkorange;
        }
    }

    @@keyframes anima02 {
        from {
            width: 65%;
        }

        to {
            width: 100%;
        }
    }

    .myBorder {
        /*border-color: darkorange;*/
        padding: 15px 10px 5px 10px;
    }

    .myBar01 {
        height: 6px;
        margin-top: 18px;
        background-color: #f99b1c;
        animation-name: anima02;
        animation-duration: 3s;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
    }

    .containerBar {
        width: 50%;
        margin-left: 0px;
        border-left: solid 3px;
        border-left-color: #f99b1c;
        padding-left: 0px;
        height: 43px;
        border-radius: 1px;
        margin-left: 10px;
    }
    /* Progress-Bar Ende */

    .h3step2XS {
        color: #000000;
        margin-top: 5px;
        font-size: 1.4em;
    }

    .col-xs-12 {
    }
</style>

<div class="container" style="margin-top: 20px;">
    <div class="myBorder hidden-xs" style="text-align:center">
        <div class="col-sm-2 col-sm-offset-1">
            <button class="myButtonOp opacity noCurs">1</button>
            <h5 style="font-weight:bold;">Fahrzeug wählen</h5>
        </div>
        <div class="col-sm-2">
            <form>
                <button class="myButtonOp opacity noCurs">2</button>
            </form>
            <h5 style="font-weight:bold;">Detailansicht</h5>
        </div>
        <div class="col-sm-2">
            <button class="myButtonOp opacity noCurs">3</button>
            <h5 style="font-weight:bold;">Anmeldung</h5>
        </div>
        <div class="col-sm-2">
            <button class="myButtonOp noCurs">4</button>
            <h5>Buchung</h5>
        </div>
        <div class="col-sm-2">
            <button class="myButtonOp noCurs">5</button>
            <h5>Abschluss</h5>
        </div>

        <div class="row">
            <div class="container-fluid containerBar">
                <div class="myBar01"></div>
            </div>
        </div>
    </div>
    <div class="myBorder hidden-sm hidden-md hidden-lg hidden-xl" style="text-align:center">
        <div class="col-xs-2 col-xs-offset-1">
            <button class="miniButtonOp opacity noCurs">1</button>
        </div>
        <div class="col-xs-2">
            <button class="miniButtonOp opacity noCurs">2</button>
        </div>
        <div class="col-xs-2">
            <button class="miniButtonOp opacity noCurs">3</button>
        </div>
        <div class="col-xs-2">
            <button class="miniButtonOp noCurs">4</button>
        </div>
        <div class="col-xs-2">
            <button class="miniButtonOp noCurs">5</button>
        </div>
    </div>
    <div class="row">
        <div style="padding-top:20px;"></div>
        <div class="hidden-xs col-sm-4 col-md-4 col-lg-4" style="border-left:solid 3px; border-color:#f99b1c; margin-left:20px">
            <h3 style="margin-bottom:0px">@Html.DisplayFor(m => m.gebuchtesAuto.tblTyp.tblMarke.Marke)</h3>
            <p style="padding-bottom:10px; margin-top:0px">@Html.DisplayFor(m => m.gebuchtesAuto.tblTyp.Typ)</p>
            @{
                if (Model.gebuchtesAuto.AutoBild != null)
                {
                    var image = Convert.ToBase64String(Model.gebuchtesAuto.AutoBild);
                    @Html.Raw("<img src=\"data:image/png;base64," + image + "\" class=\"img-responsive\" style=\"width:350px\" />");
                }
                else
                {
                    <b>nix gucken</b>
                }
            }

            @*div-Bereich unterhalb img*@
            <div>
                <div class="hidden-md hidden-sm col-lg-12 hidden-xs">
                    <div class="col-lg-6">
                        <h4 class="h4Step3">Abholung</h4>
                        <p>Wien am @Model.date_von.ToShortDateString()</p>
                    </div>
                    <div class="col-lg-6">
                        <h4 class="h4Step3">Rückgabe</h4>
                        <p>Wien am @Model.date_bis.ToShortDateString()</p>
                    </div>
                    <div class="col-lg-6">
                        <h4 class="h4Step3">Mietdauer</h4>
                        <p>@Html.DisplayFor(d => d.Mietdauer) Tage</p>
                    </div>
                    <div class="col-lg-6">
                        <h4 class="h4Step3">Preis</h4>
                        <p>@Html.DisplayFor(d => d.Gesamtpreis) Euro</p>
                    </div>
                    <div class="col-lg-6">
                        <h4 class="h4Step3">Sonderausstattung</h4>
                        <ul>
                            @if (Model.gebuchtesAuto.tblAusstattung != null)
                            {
                                foreach (var ausstattung in Model.gebuchtesAuto.tblAusstattung)
                                {
                                    <li class="okZeichen1">@Html.DisplayFor(a => ausstattung.Ausstattung)</li>
                                }
                            }
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <h4 class="h4Step3">Versicherung</h4>
                        @{if (Model.HatRtVersicherung)
                            {
                                <p>Ja</p>
                            }
                            else
                            {
                                <p>Nein</p>
                            }
                        }
                    </div>
                </div>
                <div class="TextAufzählungStep3 hidden-sm hidden-xs col-md-12 hidden-lg">
                    <div class="col-md-6">
                        <h4 class="h4Step3">Abholung</h4>
                        <p>Wien am @Model.date_von.ToShortDateString()</p>
                    </div>
                    <div class="col-md-6">
                        <h4 class="h4Step3">Rückgabe</h4>
                        <p>Wien am @Model.date_bis.ToShortDateString()</p>
                    </div>
                    <div class="col-md-6">
                        <h4 class="h4Step3">Mietdauer</h4>
                        <p>@Html.DisplayFor(d => d.Mietdauer) Tage</p>
                    </div>
                    <div class="col-md-6">
                        <h4 class="h4Step3">Preis</h4>
                        <p>@Html.DisplayFor(d => d.Gesamtpreis) Euro</p>
                    </div>
                    <div class="col-md-6">
                        <h4 class="h4Step3">Sonderausstattung</h4>
                        <ul>
                            @if (Model.gebuchtesAuto.tblAusstattung != null)
                            {
                                foreach (var ausstattung in Model.gebuchtesAuto.tblAusstattung)
                                {
                                    <li class="okZeichen1">@Html.DisplayFor(a => ausstattung.Ausstattung)</li>
                                }
                            }
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h4 class="h4Step3">Versicherung</h4>
                        @{if (Model.HatRtVersicherung)
                            {
                                <p>Ja</p>
                            }
                            else
                            {
                                <p>Nein</p>
                            }
                        }
                    </div>
                </div>
                <div class="TextAufzählungStep3 col-xs-12 col-sm-12 hidden-md hidden-lg">
                    <div class="col-sm-6">
                        <h4 class="h4Step3">Abholung</h4>
                        <p>Wien am @Model.date_von.ToShortDateString()</p>
                    </div>
                    <div class="col-sm-6">
                        <h4 class="h4Step3">Rückgabe</h4>
                        <p>Wien am @Model.date_bis.ToShortDateString()</p>
                    </div>
                    <div class="col-sm-6">
                        <h4 class="h4Step3">Mietdauer</h4>
                        <p>@Html.DisplayFor(d => d.Mietdauer) Tage</p>
                    </div>
                    <div class="col-sm-6">
                        <h4 class="h4Step3">Preis</h4>
                        <p>@Html.DisplayFor(d => d.Gesamtpreis) Euro</p>
                    </div>
                    <div class="col-sm-6">
                        <h4 class="h4Step3">Sonderausstattung</h4>
                        <ul>
                            @if (Model.gebuchtesAuto.tblAusstattung != null)
                            {
                                foreach (var ausstattung in Model.gebuchtesAuto.tblAusstattung)
                                {
                                    <li class="okZeichen1">@Html.DisplayFor(a => ausstattung.Ausstattung)</li>
                                }
                            }
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <h4 class="h4Step3">Versicherung</h4>
                        @{if (Model.HatRtVersicherung)
                            {
                                <p>Ja</p>
                            }
                            else
                            {
                                <p>Nein</p>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>

        @*sichtbar auf kleinem Format (xs)*@
        <center>
            <div class="col-xs-12 hidden-sm hidden-md hidden-lg" style="padding-top:15px;">
                <h3 style="margin-top:0px; margin-bottom:0px; text-align:center">@Html.DisplayFor(m => m.gebuchtesAuto.tblTyp.tblMarke.Marke)</h3>
                <p style="padding-bottom:10px; margin-top:0px;text-align:center">@Html.DisplayFor(m => m.gebuchtesAuto.tblTyp.Typ)</p>
                @{
                    if (Model.gebuchtesAuto.AutoBild != null)
                    {
                        var image = Convert.ToBase64String(Model.gebuchtesAuto.AutoBild);
                        @Html.Raw("<img src=\"data:image/png;base64," + image + "\" class=\"img-responsive\" style=\"margin:0px\" />");
                    }
                    else
                    {
                        <b>nix gucken</b>
                    }
                }
                <div>
                    <h4 class="h3step2XS">Abholung</h4>
                    <p>Wien am @Model.date_von.ToShortDateString()</p>
                    <h4 class="h3step2XS">Rückgabe</h4>
                    <p>Wien am @Model.date_bis.ToShortDateString()</p>
                    <h4 class="h3step2XS">Mietdauer</h4>
                    <p>@Html.DisplayFor(d => d.Mietdauer) Tage</p>
                    <h4 class="h3step2XS">Preis</h4>
                    <p>@Html.DisplayFor(d => d.Gesamtpreis) Euro</p>
                    <h4 class="h3step2XS" style="padding-top:10px;">Sonderausstattung</h4>
                    @if (Model.gebuchtesAuto.tblAusstattung != null)
                    {
                        <ul style="width:130px;text-align:left;">
                            @if (Model.gebuchtesAuto.tblAusstattung != null)
                            {
                                foreach (var ausstattung in Model.gebuchtesAuto.tblAusstattung)
                                {
                                    <li class="okZeichen1">@Html.DisplayFor(a => ausstattung.Ausstattung)</li>
                                }
                            }
                        </ul>
                    }
                    <h4 class="h3step2XS">Versicherung</h4>
                    @{if (Model.HatRtVersicherung)
                        {
                            <p>Ja</p>
                        }
                        else
                        {
                            <p>Nein</p>
                        }
                    }
                </div>
            </div>
        </center>

        @*Erste Box für Login Anfang*@
        <div class="col-xs-12 col-md-8 col-lg-7">
            <div class="form-horizontal" style="padding: 20px;">
                @if (ViewBag.registerResult > 0)
                {
                    <p class="text-danger">Eine Bestätigungs Email wurde verschickt! Bitte klicken Sie auf den Link in dieser Email um die Registrierung abzuschließen.</p>
                }
                else if (ViewBag.activationResult == -1)
                {
                    <p class="text-danger">Aktivierungs Code ist ungültig oder wurde bereits Verwendet!</p>
                }
                else if (ViewBag.activationResult == 0)
                {
                    <p class="text-danger">Aktivierung erfolgreich! Sie können sich nun einloggen.</p>
                }
                <form action="@Url.Action("Index", "Login")" method="post">
                    <div class="form-group">
                        @*E-Mail1*@
                        <label for="emailLogin" class="col-md-3 control-label">Email:</label>
                        <div class="col-md-9">
                            <input type="email" class="form-control" id="emailLogin" name="email" placeholder="max.mustermann@kundt.at" onkeyup="ValidateEmail('Login'), ValidateInput('Login')">
                        </div>
                    </div>
                    <div class="form-group">
                        @*Passwort1*@
                        <label for="passwordLogin" class="col-md-3 control-label">Passwort:</label>
                        <div class="col-md-9">
                            <input type="password" class="form-control" id="passwordLogin" name="password" placeholder="⋅⋅⋅⋅⋅⋅⋅⋅⋅" onkeyup="PasswordCheck('Login'), ValidateInput('Login')">
                        </div>
                    </div>
                    <input type="hidden" value="@Model.gebuchtesAutoID" name="gebuchtesAutoID" />
                    <input type="hidden" value="@Model.date_von_string" name="date_von_string" />
                    <input type="hidden" value="@Model.date_bis_string" name="date_bis_string" />
                    <input type="hidden" value="@Model.Gesamtpreis" name="Gesamtpreis" />
                    <input type="hidden" value="@Model.Mietdauer" name="Mietdauer" />
                    <input type="hidden" value="@(Model.HatRtVersicherung ? "true" : "false")" name="HatRtVersicherung" />
                    @{
                        //Anzeigen der Fehlermeldung.
                        if (TempData["loginResult"] != null)
                        {
                            ViewBag.loginResult = TempData["loginResult"];
                            if (ViewBag.loginResult == -1)
                            {
                                <div class="form-group">
                                    <div class="col-md-offset-3 col-md-8">
                                        <p class="text-danger">Email oder Password ist Falsch!</p>
                                    </div>
                                </div>
                            }
                            else if (ViewBag.loginResult == -2)
                            {
                                <div class="form-group">
                                    <div class="col-md-offset-3 col-md-8">
                                        <p class="text-danger">Bitte Aktivieren Sie ihre Email bevor Sie sich einloggen!</p>
                                    </div>
                                </div>
                            }
                            else if (ViewBag.loginResult == -3)
                            {
                                <div class="form-group">
                                    <div class="col-md-offset-3 col-md-8">
                                        <p class="text-danger">Ihr Account ist Deaktiviert. Bitte melden Sie sich beim Kundendienst!</p>
                                    </div>
                                </div>
                            }
                        }
                    }
                    <div class="row">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="hidden-sm hidden-xs col-md-12">
                                @*Buttons Zurück, Registieren, Login*@
                                <button type="button" class="buttonOrangeForwardStep3OhneAnimation" style="margin-left:10px; float:left" data-toggle="collapse" data-target="#registrieren" onclick="Bottom()"><span>Registrieren</span></button>
                                <button type="submit" id="submitLogin" class="buttonOrangeForwardStep3OhneAnimation" style="float:left; margin-left:10px" value="Login" disabled><span>Login</span></button>
                            </div>
                            <center>
                                <div class="hidden-lg hidden-md">
                                    @*Buttons Zurück, Registieren, Login*@
                                    <div class="col-sm-12 col-xs-12" style="margin-bottom: 10px;">
                                        <input type="button" class="buttonOrangeForwardStep3OhneAnimation" data-toggle="collapse" data-target="#registrieren" style="width: 280px;" value="Registrieren" onclick="Bottom()" />
                                    </div>
                                    <div class="col-sm-12 col-xs-12">
                                        <button type="submit" id="submitLoginMobile" class="buttonOrangeForwardStep3OhneAnimation" style="width: 280px;" disabled><span>Login</span></button>
                                    </div>
                                </div>
                            </center>
                        </div>
                    </div>
                </form> @*Erste Box für Login Ende*@
            </div>
            <div class="col-xs-12">
                <form class="form-horizontal col-xs-12" style="margin-left:15px;" action="@Url.Action("Registrierung", "Login")" method="post">
                    @*Zweite Box für Regestrieren Anfang*@
                    <div id="registrieren" class="collapse" style="border-top: 1px solid black;">
                        <div class="form-group" style="margin-top: 35px;">
                            @if (ViewBag.registerResult == -1)
                            {
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <p class="text-danger" id="errorMessage">Es existiert bereits ein Account mit dieser Email!</p>
                                    </div>
                                </div>
                            }
                            <label for="sex" class="col-md-3 control-label collapseForm">Anrede:</label>
                            <div class="col-md-9">
                                @*Box Anrede*@
                                <select id="sex" name="sex" class="form-control collapseForm" required>
                                    <option value="" selected disabled hidden>Anrede</option>
                                    <option value="Herr">Herr</option>
                                    <option value="Frau">Frau</option>
                                </select>
                            </div>
                            <label for="prename" class="col-md-3 control-label collapseForm">Vorname:</label>
                            <div class="col-md-9">
                                @*Box Vorname*@
                                <input type="text" class="form-control collapseForm" id="prename" name="prename" placeholder="Max" required>
                            </div>
                            <label for="sirname" class="col-md-3 control-label collapseForm">Nachname:</label>
                            <div class="col-md-9">
                                @*Box Nachname*@
                                <input type="text" class="form-control collapseForm" id="sirname" name="sirname" placeholder="Mustermann" required>
                            </div>
                            <label for="adress" class="col-md-3 control-label collapseForm">Adresse:</label>
                            <div class="col-md-9">
                                @*Box Adresse*@
                                <input type="text" class="form-control collapseForm" id="adress" name="adress" placeholder="Musterstraße 23" required>
                            </div>
                            @if (ViewBag.registerResult == -2)
                            {
                                <div class="col-md-offset-3 col-md-9">
                                    <p class="text-danger" id="errorMessage">Die eingegebene PLZ oder der eingegebene Ort ist nicht korrekt.</p>
                                </div>
                            }
                            <label for="city" class="col-md-3 control-label collapseForm">Ort:</label>
                            <div class="col-md-9">
                                @*Box Ort*@
                                <input type="text" class="form-control collapseForm" id="city" name="city" placeholder="Wien" required>
                            </div>
                            <label for="postcode" class="col-md-3 control-label collapseForm">PLZ:</label>
                            <div class="col-md-9">
                                @*Box PLZ*@
                                <input type="number" class="form-control collapseForm" id="postcode" name="postcode" placeholder="1234" required>
                            </div>
                            <label for="telephone" class="col-md-3 control-label collapseForm">Telefon:</label>
                            <div class="col-md-9">
                                @*Box Telefon*@
                                <input type="text" class="form-control collapseForm" id="telephone" name="telephone" placeholder="0123 4567890" required>
                            </div>
                            <label for="bDay" class="col-md-3 control-label collapseForm">Geburtstag:</label>
                            <div class="col-md-9 form-inline">
                                @*Box Geburtstag*@
                                <select class="form-control collapseForm" id="bDay" name="bDay" required>
                                    <option value="" selected disabled hidden>Tag</option>
                                    @{
                                        for (int i = 1; i < 32; i++)
                                        {
                                            <option value="@i">@i</option>
                                        }
                                    }
                                </select>
                                <select class="form-control collapseForm" id="bMonth" name="bMonth" required>
                                    <option value="" selected disabled hidden>Monat</option>
                                    @{
                                        string[] months = System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.MonthNames;
                                        for (int i = 0; i <= months.Length - 2; i++)
                                        {
                                            <option value="@(i+1)">@months[i]</option>
                                        }
                                    }
                                </select>
                                <select class="form-control collapseForm" id="bYear" name="bYear" required>
                                    <option value="" selected disabled hidden>Jahr</option>
                                    @{
                                        DateTime today = new DateTime();
                                        today = DateTime.Today;
                                        for (int i = today.Year - 17; i > today.Year - 130; i--)
                                        {
                                            <option value="@i">@i</option>
                                        }
                                    }
                                </select>
                            </div>
                            <label for="pass" class="col-md-3 control-label collapseForm">Reisepassnummer::</label>
                            <div class="col-md-9">
                                @*Box ReisepassNr*@
                                <input type="number" class="form-control collapseForm" id="pass" name="pass" placeholder="012345" required>
                            </div>
                            <label for="emailRegister" class="col-md-3 control-label collapseForm">Email:</label>
                            <div class="col-md-9">
                                @*Box Email*@
                                <input type="text" class="form-control collapseForm" id="emailRegister" name="email" placeholder="max.mustermann@kundt.at" onkeyup="ValidateEmail('Register'), ValidateInput('Register')">
                            </div>
                            <label for="emailConfirmation" class="col-md-3 control-label collapseForm">Email bestätigen:</label>
                            <div class="col-md-9">
                                @*Box Email bestätigen*@
                                <input type="text" class="form-control collapseForm" id="emailConfirmation" placeholder="max.mustermann@kundt.at" onkeyup="EmailConfirmation(), ValidateInput('Register')">
                            </div>
                            <label for="passwordRegister" class="col-md-3 control-label collapseForm">Passwort:</label>
                            <div class="col-md-9">
                                @*Box Passwort*@
                                <input type="password" class="form-control collapseForm" id="passwordRegister" name="password" placeholder="⋅⋅⋅⋅⋅⋅⋅⋅⋅" onkeyup="PasswordCheck('Register'), ValidateInput('Register')">
                            </div>
                            <label for="passwordConfirmation" class="col-md-3 control-label collapseForm">Passwort bestätigen:</label>
                            <div class="col-md-9">
                                @*Box Passwort bestätigen*@
                                <input type="password" class="form-control collapseForm" id="passwordConfirmation" placeholder="⋅⋅⋅⋅⋅⋅⋅⋅⋅" onkeyup="PasswordConfirmationCheck(), ValidateInput('Register')">
                            </div>
                        </div>
                        @*Button Registieren2*@
                        <div class="row">
                            <div class="hidden-md hidden-lg" style="position: relative; left: 15px;">
                                <button type="submit" id="submitRegisterMobile" class="buttonOrangeForwardStep3OhneAnimation" style="width: 280px;" disabled><span>Registrieren</span></button>
                            </div>
                            <div class="hidden-sm hidden-xs" style="position: relative; left: 118px;">
                                <input type="hidden" value="@Model.gebuchtesAutoID" name="gebuchtesAutoID" />
                                <input type="hidden" value="@Model.date_von_string" name="date_von_string" />
                                <input type="hidden" value="@Model.date_bis_string" name="date_bis_string" />
                                <input type="hidden" value="@Model.Gesamtpreis" name="Gesamtpreis" />
                                <input type="hidden" value="@Model.Mietdauer" name="Mietdauer" />
                                <input type="hidden" value="@(Model.HatRtVersicherung ? "true" : "false")" name="HatRtVersicherung" />
                                <button type="submit" id="submitRegister" class="buttonOrangeForwardStep3OhneAnimation" disabled><span>Registrieren</span></button>
                            </div>
                        </div>
                    </div>
                </form>


            </div>
        </div>
        @*Zweite Box für Regestrieren Ende*@
    </div>
    <div class="row">
        <center>
            <div class="row col-sm-12 col-md-12 col-lg-12 hidden-xs" style="padding-top:20px;">
                <div class="col-sm-6 col-md-6 col-lg-6 hidden-xs">
                    <form action="@Url.Action("Step3","Home",null)" method="post">
                        <input type="hidden" value="@Model.gebuchtesAutoID" name="gebuchtesAutoID" />
                        <input type="hidden" value="@Model.date_von_string" name="date_von_string" />
                        <input type="hidden" value="@Model.date_bis_string" name="date_bis_string" />
                        <input type="hidden" value="@Model.Gesamtpreis" name="Gesamtpreis" />
                        <input type="hidden" value="@Model.Mietdauer" name="Mietdauer" />
                        <button type="submit" class="buttonOrangeReturnStep3"><span>Zurück</span></button>
                    </form>
                </div>
            </div>
            <div class="block col-xs-12 hidden-sm hidden-md hidden-lg" style="padding-top:20px; padding-bottom:50px">
                <div class="col-xs-12" style="padding-left:10px">
                    <form action="@Url.Action("Step3","Home")" method="post">
                        <input type="hidden" value="@Model.gebuchtesAutoID" name="gebuchtesAutoID" />
                        <input type="hidden" value="@Model.date_von_string" name="date_von_string" />
                        <input type="hidden" value="@Model.date_bis_string" name="date_bis_string" />
                        <input type="hidden" value="@Model.Gesamtpreis" name="Gesamtpreis" />
                        <input type="hidden" value="@Model.Mietdauer" name="Mietdauer" />
                        <button class="buttonOrangeReturnStep3" style="height:35px; width:120px"><span>Zurück</span></button>
                    </form>
                </div>
            </div>
        </center>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/LoginScript.js")
}