@model kundt_front_end.Models.tblKunde
@{
    ViewBag.Title = "Step5";
}
<style>
    /* Progress-Bar */
    .miniButton {
        color: white;
        height: 35px;
        width: 35px;
        background-color: #f99b1c;
        border-radius: 35px;
        font-size: 18px;
        border-style: none;
        border-left: solid 1px;
        border-bottom: solid 1px;
        border-left-color: antiquewhite;
        border-bottom-color: antiquewhite;
        margin: auto 0% auto 1%;
    }

    .miniButtonOp {
        color: white;
        height: 35px;
        width: 35px;
        background-color: #f99b1c;
        border-radius: 35px;
        font-size: 18px;
        border-style: none;
        border-left: solid 1px;
        border-bottom: solid 1px;
        border-left-color: antiquewhite;
        border-bottom-color: antiquewhite;
        margin: auto 0% auto 1%;
        opacity: 0.3;
    }

    .myButton {
        color: white;
        height: 45px;
        width: 45px;
        background-color: #f99b1c;
        border-radius: 45px;
        font-size: 25px;
        border-style: none;
        border-left: solid 1px;
        border-bottom: solid 1px;
        border-left-color: antiquewhite;
        border-bottom-color: antiquewhite;
        margin: auto 0% auto 1%;
    }

    .myButtonOp {
        color: white;
        height: 45px;
        width: 45px;
        background-color: #f99b1c;
        border-radius: 45px;
        font-size: 25px;
        border-style: none;
        opacity: 0.3;
        border-bottom: solid 1px;
        border-bottom-color: antiquewhite;
        margin: auto 0% auto 1%;
    }

    .myButton:active {
        height: 42px;
        width: 42px;
        border-radius: 42px;
        font-size: 22px;
        animation-name: anima01;
        animation-iteration-count: infinite;
        animation-duration: 2.5s;
        margin: 2% 0% auto 1%;
    }

    .myButtonOp:focus, .myButton:focus, .miniButton:focus, .miniButtonOp:focus {
        outline: none;
    }

    .noCurs {
        cursor: default;
    }

    .opacity {
        opacity: 1.0;
    }

    @@keyframes anima01 {
        0% {
            background-color: #f99b1c;
        }

        25% {
            background-color: orange;
        }

        50% {
            background-color: #f99b1c;
        }

        75% {
            background-color: orange;
        }

        100% {
            background-color: #f99b1c;
        }
    }

    @@keyframes anima02 {
        from {
            width: 75%;
        }

        to {
            width: 100%;
        }
    }

    .myBorder {
        /*border-color: #f99b1c;*/
        padding: 15px 10px 5px 10px;
    }

    .myBar01 {
        height: 6px;
        margin-top: 18px;
        background-color: #f99b1c;
        animation-name: anima02;
        animation-duration: 3s;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
    }

    .containerBar {
        width: 35%;
        margin-left: 0px;
        border-left: solid 3px;
        border-left-color: #f99b1c;
        padding-left: 0px;
        height: 43px;
        border-radius: 1px;
        margin-left: 10px;
    }
    /* Progress-Bar Ende */

    /*Bis zum nächsten Kommentar, die nächsten Zeilen bitte hier im Style-Tag lassen*/
    .buttonOrangeForwardStep3 {
        background-color: #f99b1c;
        border: none;
        color: #ffffff;
        font-size: 15px;
        height: 50px;
        width: 200px;
        font-weight: 700;
        letter-spacing: .5px;
        text-align: center;
        display: inline-block;
        border-radius: 4px;
    }

        .buttonOrangeForwardStep3 span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }

            .buttonOrangeForwardStep3 span:after {
                content: '\00bb';
                position: absolute;
                opacity: 0;
                top: 0;
                right: -30px;
                transition: 0.5s;
                font-size: 15px;
            }

        .buttonOrangeForwardStep3:hover span {
            padding-right: 15px;
        }

            .buttonOrangeForwardStep3:hover span:after {
                opacity: 1;
                right: 0;
            }

        .buttonOrangeForwardStep3:hover {
            background-color: #f99b1c;
            border: none;
            color: #ffffff;
            font-size: 15px;
            height: 50px;
            width: 200px;
            font-weight: 700;
            letter-spacing: .5px;
            text-align: center;
        }

    .buttonOrangeReturnStep3 {
        background-color: #f99b1c;
        border: none;
        color: #ffffff;
        font-size: 15px;
        height: 50px;
        width: 200px;
        font-weight: 700;
        letter-spacing: .5px;
        text-align: center;
        display: inline-block;
        border-radius: 4px;
    }

        .buttonOrangeReturnStep3 span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }

            .buttonOrangeReturnStep3 span:after {
                content: '\00ab';
                position: absolute;
                opacity: 0;
                top: 0;
                left: -30px;
                transition: 0.5s;
                font-size: 15px;
            }

        .buttonOrangeReturnStep3:hover span {
            padding-left: 15px;
        }

            .buttonOrangeReturnStep3:hover span:after {
                opacity: 1;
                left: 0;
            }

        .buttonOrangeReturnStep3:hover {
            background-color: #f99b1c;
            border: none;
            color: #ffffff;
            font-size: 15px;
            height: 50px;
            width: 200px;
            font-weight: 700;
            letter-spacing: .5px;
            text-align: center;
        }

    .col-lg-6 > p > span {
        float: right;
    }
</style>

<div class="container">
    @* Progress Bar *@
    <div class="myBorder hidden-xs" style="text-align:center">
        <div class="col-sm-2 col-sm-offset-1">
            <button class="myButton">1</button>
            <h5>Fahrzeug wählen</h5>
        </div>
        <div class="col-sm-2">
            <button class="myButton">2</button>
            <h5>Detailansicht</h5>
        </div>
        <div class="col-sm-2">
            <button class="myButton">3</button>
            <h5>Anmeldung</h5>
        </div>
        <div class="col-sm-2">
            <button class="myButtonOp opacity noCurs">4</button>
            <h5>Buchung</h5>
        </div>
        <div class="col-sm-2">
            <button class="myButtonOp noCurs">5</button>
            <h5>Abschluss</h5>
        </div>

        <div class="row">
            <div class="container-fluid containerBar" style="width:67%; margin-left:0px">
                <div class="myBar01"></div>
            </div>
        </div>
    </div>
    <div class="myBorder hidden-sm hidden-md hidden-lg hidden-xl" style="text-align:center;padding-bottom:20px;height:45px;">
        <div class="col-xs-2 col-xs-offset-1">
            <button class="miniButton">1</button>
        </div>
        <div class="col-xs-2">
            <button class="miniButton">2</button>
        </div>
        <div class="col-xs-2">
            <button class="miniButton">3</button>
        </div>
        <div class="col-xs-2">
            <button class="miniButtonOp opacity noCurs">4</button>
        </div>
        <div class="col-xs-2">
            <button class="miniButtonOp noCurs">5</button>
        </div>
    </div>
    @* Progressbar Ende *@

    <div class="paddingSmallStep3"></div>
    <div class="row">
        <div class="hidden-xs col-sm-4 col-md-4 col-lg-4" style="border-left:solid 3px; border-color:#f99b1c; margin-left:20px">
            <h3 class="h3Step3" style="margin-bottom:0px">Alfa Romeo Giulia</h3>
            <p class="TextAufzählungStep3" style="padding-bottom:10px; margin-top:0px">Limousine</p>
            <img src="~/Content/img/alfa-romeo-giulia-silber-2016.png" class="img-responsive" style="width:350px" />

            @*div-Bereich unterhalb img*@
            <div class="TextAufzählungStep3 col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h4 class="h4Step3">Abholung</h4>
                <p>Wien</p>
                <p>@System.Web.HttpContext.Current.Session["sessionVon"] </p>
                <h4 class="h4Step3">Rückgabe</h4>
                <p>Wien</p>
                <p>@System.Web.HttpContext.Current.Session["sessionBis"]</p>
                <h4 class="h4Step3">Mietdauer</h4>
                <p>@System.Web.HttpContext.Current.Session["sessionErgebnis"] Tage</p>
            </div>
        </div>

        @*sichtbar auf kleinem Format (xs)*@
        <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
            <h3 style="margin-top:0px; margin-bottom:0px">Alfa Romeo Giulia</h3>
            <p class="TextAufzählungStep3" style="padding-bottom:10px; margin-top:0px">Limousine</p>
            <img src="~/Content/img/alfa-romeo-giulia-silber-2016.png" class="img-responsive" style="max-width:250px" />
            <div class="TextAufzählungStep3 col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h4 class="h4Step3">Abholung</h4>
                <p>Wien</p>
                <p>@System.Web.HttpContext.Current.Session["sessionVon"]  </p>
                <h4 class="h4Step3">Rückgabe</h4>
                <p>Wien</p>
                <p>@System.Web.HttpContext.Current.Session["sessionBis"] </p>
                <h4 class="h4Step3">Mietdauer</h4>
                <p>@System.Web.HttpContext.Current.Session["sessionErgebnis"] Tage</p>
            </div>
        </div>

        @*Aufzählung rechts*@
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-lg-12">
                    <h2>Ihre Daten</h2>
                </div>
                <div class="col-xs-6 col-sm-6 col-lg-6">
                    <p><b>Anrede: </b><span>Herr</span></p>
                    <p><b>@Html.DisplayNameFor(model => model.Vorname): </b><span>@Html.DisplayFor(model => model.Vorname)</span></p> @*Testweise*@
                    <p><b>Nachname: </b><span>aoshoahsfohfh</span></p>
                    <p><b>Geb. Datum: </b><span>12.12.1241</span></p>
                    <p><b>Reisepassnr.: </b><span>P1234567</span></p>
                    @Html.DisplayNameFor(model => model.Vorname)
                </div>
                @*<div class="col-xs-12 col-sm-5 col-sm-offset-2 col-md-5 col-md-offset-2 col-lg-5 col-lg-offset-2" style="padding-left:0px; padding-top:0px">*@

                <div class="col-xs-6 col-sm-6 col-lg-6">
                    <p><br /></p>
                    <p><b>Straße: </b><span>askfjhkajjhfha 23</span></p>
                    <p><b>PLZ: </b><span>1241 Wien</span></p>
                    <p><b>Telefon: </b><span>98798 8768698</span></p>
                    
                </div>
            </div>
        </div>

        <center>
            <div class="block col-xs-12 hidden-sm hidden-md hidden-lg" style="padding-top:20px; padding-bottom:50px">
                <div class="col-xs-6" style="padding-left:10px">

                    <button class="buttonOrangeReturnStep3" style="height:35px; width:120px"><span>Zurück</span></button>
                </div>
                <div class="col-xs-6 hidden-sm hidden-md hidden-lg" style="padding-right:10px">
                    <button class="buttonOrangeForwardStep3" style="height:35px; width:120px"><span>Bestätigen</span></button>
                </div>
            </div>
            <div class="row">
                <div class="row col-sm-12 col-md-12 col-lg-12 hidden-xs">
                    <div class="col-sm-6 col-md-6 col-lg-6 hidden-xs">
                        <button class="buttonOrangeReturnStep3"><span>Zurück</span></button>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 xs-hidden">
                        <button class="buttonOrangeForwardStep3"><span>Weiter</span></button>
                    </div>
                </div>

            </div>
        </center>
    </div>
</div>
