@{
    ViewBag.Title = "Step2";
}


<style>
    .centeredStep2 {
        text-align: center;
        display: block;
    }

    .h2step2 {
        color: #002f41;
        padding-top: 20px;
        font-size:2em;
    }

    .paddingSmallTopStep2 {
        padding-top: 20px;
    }

    .paddingSmallBotStep2 {
        padding-bottom: 20px;
    }

    .h3step2 {
        font-size: 32px;
        font-weight: 400;
        color: #002f41;
        display: block;
    }

    .h5Step2 {
        font-size: 18px;
    }

    .fontsizeStep2 {
        font-size: 18px;
        font-weight: 600;
        color: #002f41;
    }

    .imgStep2 {
        margin: auto;
    }

    .filterActive {
        /*ajx implementieren*/
    }
    /*Bis zum Kommentar "Bis hierhin drin lassen bitte!", die nächsten Zeilen bitte hier im Style-Tag lassen*/

    .buttonOrangeStep2 {
        background-color: #f99b1c;
        border: none;
        color: #ffffff;
        font-size: 15px;
        height: 50px;
        width: 200px;
        font-weight: 700;
        letter-spacing: .5px;
        text-align: center;
        display: inline-block;
        border-radius: 4px;
    }

        .buttonOrangeStep2 span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }

            .buttonOrangeStep2 span:after {
                content: '\00bb';
                position: absolute;
                opacity: 0;
                top: 0;
                right: -30px;
                transition: 0.5s;
                font-size: 15px;
            }

        .buttonOrangeStep2:hover span {
            padding-right: 15px;
        }

            .buttonOrangeStep2:hover span:after {
                opacity: 1;
                right: 0;
            }

        .buttonOrangeStep2:hover {
            background-color: #f99b1c;
            border: none;
            color: #ffffff;
            font-size: 15px;
            height: 50px;
            width: 200px;
            font-weight: 700;
            letter-spacing: .5px;
            text-align: center;
        }

    .buttonOrangeReturnStep2 {
        background-color: #f99b1c;
        border: none;
        color: #ffffff;
        font-size: 15px;
        height: 50px;
        width: 200px;
        font-weight: 700;
        letter-spacing: .5px;
        text-align: center;
        display: inline-block;
        border-radius: 4px;
    }

        .buttonOrangeReturnStep2 span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }

            .buttonOrangeReturnStep2 span:after {
                content: '\00ab';
                position: absolute;
                opacity: 0;
                top: 0;
                left: -30px;
                transition: 0.5s;
                font-size: 15px;
            }

        .buttonOrangeReturnStep2:hover span {
            padding-left: 15px;
        }

            .buttonOrangeReturnStep2:hover span:after {
                opacity: 1;
                left: 0;
            }

        .buttonOrangeReturnStep2:hover {
            background-color: #f99b1c;
            border: none;
            color: #ffffff;
            font-size: 15px;
            height: 50px;
            width: 200px;
            font-weight: 700;
            letter-spacing: .5px;
            text-align: center;
        }

    li {
        list-style-image: url(../../Content/img/ok-sign.png);
    }

    #content > div > div > div > ul > li {
        list-style: none;
    }

    #content > div > div > form > ul > li {
        list-style: none;
        position: relative;
        float: left;
        margin-right: 8px;
        margin-bottom: 8px;
        text-decoration: none;
    }

    /*Filter Formatierung*/
    .filterStep2 {
        background: #fff;
        padding: 10px;
        border: 1px solid #CCC;
        color: darkgrey;
        cursor: pointer;
    }

        .filterStep2:hover {
            background: #fff;
            padding: 10px;
            border: 1px solid #f99b1c;
            color: #f99b1c;
        }

    .filterSmallStep2 {
        color: darkgrey;
        font-weight: bold;
    }

        .filterSmallStep2:hover {
            color: #f99b1c;
        }

    .panel {
        border: none;
        background-color: white;
        color: #f99b1c;
    }

        .panel:hover {
            border: none;
            background-color: #f99b1c;
            color: white;
        }


    .panel-group {
        border-top: solid 1px #CCC;
        border-bottom: solid 1px #CCC;
    }

    .list-group {
        border-color: #CCC;
        color: darkgrey;
    }

    .list-group-item:hover {
        background-color: #FFF;
        color: white;
    }

    .panel-collapse collapse {
        border-color: #f99b1c;
    }


    #content > div > div > form > ul > li > label > a:hover {
        text-decoration: none;
    }

    #content > div > div > form > ul > li > label > a:focus {
        text-decoration: none;
    }

    #content > div > div > form > ul > li > label > a:visited:focus {
        color: #f99b1c;
        border: 1px solid #f99b1c;
    }
    /*Filter Small*/
    #content > div > center > div > div > div > div > ul > li > a:hover {
        text-decoration: none;
    }

    #content > div > center > div > div > div > div > ul > li > a:focus {
        text-decoration: none;
    }

    #content > div > center > div > div > div > div > ul > li > a:visited:focus {
        color: darkgray;
        border: 1px solid #f99b1c;
    }

    #content > div > center > div > div > div > div > h4 > a:hover {
        text-decoration: none;
    }

    #content > div > center > div > div > div > div > h4 > a:focus {
        text-decoration: none;
    }

    #content > div > center > div > div > div > div > h4 > a:visited:focus {
        color: #f99b1c;
        border: 1px solid #f99b1c;
    }
    /*Filter Dropdown*/
    #content > div > div.hidden-xs.hidden-sm.hidden-md.col-lg-3 > form > div > div > button {
        text-shadow: 0 1px 0 #fff;
        background-image: -webkit-linear-gradient(top, #fff 100%, #fff 100%);
        background-image: -o-linear-gradient(top, #fff 100%, #fff 100%);
        background-image: -webkit-gradient(linear, left top, left bottom, (#fff));
        background-image: linear-gradient(to bottom, #fff 100%, #fff 100%);
        background-repeat: repeat-x;
        border-color: #dbdbdb;
        border-color: #ccc;
        box-shadow: none;
        border-radius:0px;
    }

        #content > div > div.hidden-xs.hidden-sm.hidden-md.col-lg-3 > form > div > div > button:hover {
            text-shadow: 0 1px 0 #fff;
            background-image: -webkit-linear-gradient(top, #fff 100%, #fff 100%);
            background-image: -o-linear-gradient(top, #fff 100%, #fff 100%);
            background-image: -webkit-gradient(linear, left top, left bottom, (#fff));
            background-image: linear-gradient(to bottom, #fff 100%, #fff 100%);
            background-repeat: repeat-x;
            border-color: #dbdbdb;
            border-color: #ccc;
            color: #f99b1c;
            border: 1px solid #f99b1c;
            background-color: #FFF;
            box-shadow: none;
            border-radius:0px;
        }

        #content > div > div.hidden-xs.hidden-sm.hidden-md.col-lg-3 > form > div > div > button:focus {
            text-shadow: 0 1px 0 #fff;
            background-image: -webkit-linear-gradient(top, #fff 100%, #fff 100%);
            background-image: -o-linear-gradient(top, #fff 100%, #fff 100%);
            background-image: -webkit-gradient(linear, left top, left bottom, (#fff));
            background-image: linear-gradient(to bottom, #fff 100%, #fff 100%);
            background-repeat: repeat-x;
            border-color: #dbdbdb;
            border-color: #ccc;
            color: #f99b1c;
            border: 1px solid #f99b1c;
            background-color: #FFF;
            box-shadow: none;
            border-radius:0px;
        }

        #content > div > div.hidden-xs.hidden-sm.hidden-md.col-lg-3 > form > div > div > button:visited:focus {
            text-shadow: 0 1px 0 #fff;
            background-image: -webkit-linear-gradient(top, #fff 100%, #fff 100%);
            background-image: -o-linear-gradient(top, #fff 100%, #fff 100%);
            background-image: -webkit-gradient(linear, left top, left bottom, (#fff));
            background-image: linear-gradient(to bottom, #fff 100%, #fff 100%);
            background-repeat: repeat-x;
            border-color: #dbdbdb;
            border-color: #ccc;
            color: #f99b1c;
            border: 1px solid #f99b1c;
            background-color: #FFF;
            box-shadow: none;
            border-radius:0px;
        }

    #content > div > div.hidden-xs.hidden-sm.hidden-md.col-lg-3 > form > div > div > div > ul > li > a:hover {
        color: orange;
        box-shadow: none;
    }

    .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
        background-color: black;
        color: orange;
        background-image: -webkit-linear-gradient(top, #fff 100%, #fff 100%);
        background-image: -o-linear-gradient(top, #fff 100%, #fff 100%);
        background-image: -webkit-gradient(linear, left top, left bottom, (#fff));
        background-image: linear-gradient(to bottom, #fff 100%, #fff 100%);
    }
    /*Filter Dropdown Ende*/
    /*Filter Small Ende*/
    /*Filter Formatierung Ende*/
    /*Bis hierhin drin lassen bitte!*/
    .ulStep2 {
        margin: auto;
        -webkit-padding-start: 0px;
    }

    .ulcenterStep2 {
        text-align: left;
        margin: auto;
        display: table;
    }

    .paddingtopStep2 {
        padding-top: 40px;
    }



    /* Progress-Bar */
    .miniButton {
        color: white;
        height: 35px;
        width: 35px;
        background-color: #f99b1c;
        border-radius: 35px;
        font-size: 18px;
        border-style: none;
        border-left: solid 1px;
        border-bottom: solid 1px;
        border-left-color: antiquewhite;
        border-bottom-color: antiquewhite;
        margin: auto 0% auto 1%;
    }

    .miniButtonOp {
        color: white;
        height: 35px;
        width: 35px;
        background-color: #f99b1c;
        border-radius: 35px;
        font-size: 18px;
        border-style: none;
        border-left: solid 1px;
        border-bottom: solid 1px;
        border-left-color: antiquewhite;
        border-bottom-color: antiquewhite;
        margin: auto 0% auto 1%;
        opacity: 0.3;
    }

    .myButton {
        color: white;
        height: 45px;
        width: 45px;
        background-color: #f99b1c;
        border-radius: 45px;
        font-size: 25px;
        border-style: none;
        border-left: solid 1px;
        border-bottom: solid 1px;
        border-left-color: antiquewhite;
        border-bottom-color: antiquewhite;
        margin: auto 0% auto 1%;
    }

    .myButtonOp {
        color: white;
        height: 45px;
        width: 45px;
        background-color: #f99b1c;
        border-radius: 45px;
        font-size: 25px;
        border-style: none;
        opacity: 0.3;
        border-left: solid 1px;
        border-left-color: antiquewhite;
        border-bottom: solid 1px;
        border-bottom-color: antiquewhite;
        margin: auto 0% auto 1%;
    }

    .myButton:active {
        height: 40px;
        width: 40px;
        border-radius: 40px;
        font-size: 22px;
        animation-name: anima01;
        animation-iteration-count: infinite;
        animation-duration: 2.5s;
    }

    .myButtonOp:focus, .myButton:focus, .miniButton:focus, .miniButtonOp:focus {
        outline: none;
    }

    .noCurs {
        cursor: default;
    }

    .opacity {
        opacity: 1.0;
    }

    @@keyframes anima01 {
        0% {
            background-color: darkorange;
        }

        25% {
            background-color: orange;
        }

        50% {
            background-color: darkorange;
        }

        75% {
            background-color: orange;
        }

        100% {
            background-color: darkorange;
        }
    }

    @@keyframes anima02 {
        from {
            width: 0%;
        }

        to {
            width: 100%;
        }
    }

    .myBorder {
        /*border-color: darkorange;*/
        padding: 15px 10px 5px 10px;
    }

    .myBar01 {
        height: 6px;
        margin-top: 18px;
        background-color: #f99b1c;
        animation-name: anima02;
        animation-duration: 3s;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
    }

    .containerBar {
        width: 18%;
        margin-left: 0px;
        border-left: solid 3px;
        border-left-color: #f99b1c;
        padding-left: 0px;
        height: 43px;
        border-radius: 1px;
        margin-left: 10px;
    }
    /* Progress-Bar Ende */
</style>

<div class="container" style="margin-top:20px">
    @*ProgressBar Implementation Begin*@
    <div class="myBorder hidden-xs" style="text-align:center">
        <div class="col-sm-2 col-sm-offset-1">
            <button class="myButtonOp opacity noCurs">1</button>
            <h5>Fahrzeug wählen</h5>
        </div>
        <div class="col-sm-2">
            <button class="myButtonOp noCurs">2</button>
            <h5>Detailansicht</h5>
        </div>
        <div class="col-sm-2">
            <button class="myButtonOp noCurs">3</button>
            <h5>Anmeldung</h5>
        </div>
        <div class="col-sm-2">
            <button class="myButtonOp noCurs">4</button>
            <h5>Buchung</h5>
        </div>
        <div class="col-sm-2">
            <button class="myButtonOp noCurs">5</button>
            <h5>Abschluss</h5>
        </div>

        <div class="row">
            <div class="container-fluid containerBar">
                <div class="myBar01"></div>
            </div>
        </div>
    </div>
    <div class="myBorder hidden-sm hidden-md hidden-lg hidden-xl" style="text-align:center">
        <div class="col-xs-2 col-xs-offset-1">
            <button class="miniButton noCurs">1</button>
        </div>
        <div class="col-xs-2">
            <button class="miniButtonOp noCurs">2</button>
        </div>
        <div class="col-xs-2">
            <button class="miniButtonOp noCurs">3</button>
        </div>
        <div class="col-xs-2">
            <button class="miniButtonOp noCurs">4</button>
        </div>
        <div class="col-xs-2">
            <button class="miniButtonOp noCurs">5</button>
        </div>
    </div>


    <div class="paddingSmallBotStep2">
        <h2 class="h2step2">Für den zeitraum von @System.Web.HttpContext.Current.Session["sessionVon"] bis @System.Web.HttpContext.Current.Session["sessionBis"] gibt es folgende Angebote!</h2>
    </div>
    @*ProgressBar Implementation End*@
    @* Filterung *@
    <div class="hidden-xs hidden-sm hidden-md col-lg-9" style="display:inline-block">
        <form>
            <ul class="ulStep2">
                <li><label><a href="#" class="filterStep2">Alle anzeigen</a></label></li>
                <li><label><a href="#" class="filterStep2">Kleinwagen</a></label></li>
                <li><label><a href="#" class="filterStep2">Mittelklasse</a></label></li>
                <li><label><a href="#" class="filterStep2">Luxusklasse</a></label></li>
            </ul>
        </form>
    </div>
    <div class="hidden-xs hidden-sm hidden-md col-lg-3">
        <form class="form-inline">
            <div class="form-group">
                <select id="lunch" class="selectpicker" @*data-live-search="true" *@ title="Sitzanzahl">
                    <option>Alle anzeigen</option>
                    <option>2 Sitze</option>
                    <option>3 Sitze</option>
                    <option>4 Sitze</option>
                    <option>5 Sitze</option>
                    <option>Mehr als 5</option>
                </select>
            </div>
        </form>
    </div>
    <center>
        <div class="hidden-lg">
            <div class="panel-group">
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse1">Alle anzeigen</a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                        <ul class="list-group">
                            <li class="list-group-item" style="padding:10px;"><a href="#" class="filterSmallStep2" style="display:block;width:100%;height:100%;margin:0px;">Kleinwagen</a></li>
                            <li class="list-group-item" style="padding:10px;"><a href="#" class="filterSmallStep2" style="display:block;width:100%;height:100%;margin:0px;">Mittelklasse</a></li>
                            <li class="list-group-item" style="padding:10px;"><a href="#" class="filterSmallStep2" style="display:block;width:100%;height:100%;margin:0px;">Luxusklasse</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="hidden-lg">
            <div class="panel-group">
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse2">Sitzanzahl</a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <ul class="list-group">
                            <li class="list-group-item" style="padding:10px;"><a href="#" class="filterSmallStep2" style="display:block;width:100%;height:100%;margin:0px;">2 Sitze</a></li>
                            <li class="list-group-item" style="padding:10px;"><a href="#" class="filterSmallStep2" style="display:block;width:100%;height:100%;margin:0px;">3 Sitze</a></li>
                            <li class="list-group-item" style="padding:10px;"><a href="#" class="filterSmallStep2" style="display:block;width:100%;height:100%;margin:0px;">4 Sitze</a></li>
                            <li class="list-group-item" style="padding:10px;"><a href="#" class="filterSmallStep2" style="display:block;width:100%;height:100%;margin:0px;">5 Sitze</a></li>
                            <li class="list-group-item" style="padding:10px;"><a href="#" class="filterSmallStep2" style="display:block;width:100%;height:100%;margin:0px;">Mehr als 5 Sitze</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </center>
    @*Filterung Ende *@

    @* Auto auflistung *@
    <div style="border-bottom:1px solid #CCC;padding-bottom:40px;"></div>
    <div class="row">
        <div class="paddingtopStep2">
            <ul class="ulStep2">
                <li>
                    <div class="col-xs-12 col-sm-12 col-md-12 hidden-lg visible-xs visible-md visible-sm centeredStep2">
                        <h3 class="h3step2">Opel Astra</h3>
                        <h5 class="h5Step2">Limousine</h5>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                        <img src="~/Content/img/opel-astra-5d-rot-2016.png" class="img-responsive imgStep2" />
                    </div>
                    <div class="col-xs-12 col-lg-5 visible-lg hidden-xs hidden-sm hidden-md">
                        <h3 class="h3step2">Opel Astra</h3>
                        <h5 class="h5Step2">Limousine</h5>
                        <div>Dieses Angebot enthält:</div>
                        <ul>
                            <li>Alle Kilometer inkl.</li>
                            <li>Testtext</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 hidden-lg visible-xs visible-md visible-sm centeredStep2">
                        <ul class="ulcenterStep2 paddingSmallTopStep2">
                            <li>Alle Kilometer inkl.</li>
                            <li>Testtext</li>
                        </ul>
                        <div class="fontsizeStep2 paddingSmallTopStep2">76,31 € pro Tag</div>
                        <div class="fontsizeStep2">456,23 € Gesamt</div>

                        <div class="paddingSmallTopStep2">
                            <form action="@Url.Action(" Step3","Home")" method="post">
                                <button class="buttonOrangeStep2">
                                    <span>Fahrzeug wählen</span>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-3 hidden-md hidden-sm hidden-xs">
                        <div class="fontsizeStep2 paddingtopStep2">76,31 € pro Tag</div>
                        <div class="fontsizeStep2">456,23 € Gesamt</div>
                        <div class="paddingtopStep2">
                            <form action="@Url.Action(" Step3","Home")" method="post">
                                <button class="buttonOrangeStep2">
                                    <span>Fahrzeug wählen</span>
                                </button>
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div style="border-bottom:1px solid #CCC;padding-bottom:40px;"></div>
    <div class="row">
        <div class="paddingtopStep2">
            <ul class="ulStep2">
                <li>
                    <div class="col-xs-12 col-sm-12 col-md-12 hidden-lg visible-xs visible-md visible-sm centeredStep2">
                        <h3 class="h3step2">Jaguar XE</h3>
                        <h5 class="h5Step2">Limousine</h5>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                        <img src="~/Content/img/jaguar-xe-4d-rot-2015.png" class="img-responsive imgStep2" />
                    </div>
                    <div class="col-xs-12 col-lg-5 visible-lg hidden-xs hidden-sm hidden-md">
                        <h3 class="h3step2">Jaguar XE</h3>
                        <h5 class="h5Step2">Limousine</h5>
                        <div>Dieses Angebot enthält:</div>
                        <ul>
                            <li>Alle Kilometer inkl.</li>
                            <li>Testtext</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 hidden-lg visible-xs visible-md visible-sm centeredStep2">
                        <ul class="ulcenterStep2 paddingSmallTopStep2">
                            <li>Alle Kilometer inkl.</li>
                            <li>Testtext</li>
                        </ul>
                        <div class="fontsizeStep2 paddingSmallTopStep2">76,31 € pro Tag</div>
                        <div class="fontsizeStep2">456,23 € Gesamt</div>
                        <div class="paddingSmallTopStep2">
                            <form action="@Url.Action(" Step3","Home")" method="post">
                                <button class="buttonOrangeStep2">
                                    <span>Fahrzeug wählen</span>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-3 hidden-md hidden-sm hidden-xs">
                        <div class="fontsizeStep2 paddingtopStep2">76,31 € pro Tag</div>
                        <div class="fontsizeStep2">456,23 € Gesamt</div>
                        <div class="paddingtopStep2">
                            <form action="@Url.Action(" Step3","Home")" method="post">
                                <button class="buttonOrangeStep2">
                                    <span>Fahrzeug wählen</span>
                                </button>
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div style="border-bottom:1px solid #CCC;padding-bottom:40px;"></div>
    <div class="row">
        <div class="paddingtopStep2">
            <ul class="ulStep2">
                <li>
                    <div class="col-xs-12 col-sm-12 col-md-12 hidden-lg visible-xs visible-md visible-sm centeredStep2">
                        <h3 class="h3step2">BMW 5er GT</h3>
                        <h5 class="h5Step2">Limousine</h5>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                        <img src="~/Content/img/bmw-5er-gt-5d-schwarz-2013.png" class="img-responsive imgStep2" />
                    </div>
                    <div class="col-xs-12 col-lg-5 visible-lg hidden-xs hidden-sm hidden-md">
                        <h3 class="h3step2">BMW 5er GT</h3>
                        <h5 class="h5Step2">Limousine</h5>
                        <div>Dieses Angebot enthält:</div>
                        <ul>
                            <li>Alle Kilometer inkl.</li>
                            <li>Testtext</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 hidden-lg visible-xs visible-md visible-sm centeredStep2">
                        <ul class="ulcenterStep2 paddingSmallTopStep2">
                            <li>Alle Kilometer inkl.</li>
                            <li>Testtext</li>
                        </ul>
                        <div class="fontsizeStep2 paddingSmallTopStep2">76,31 € pro Tag</div>
                        <div class="fontsizeStep2">456,23 € Gesamt</div>
                        <div class="paddingSmallTopStep2">
                            <form action="@Url.Action(" Step3","Home")" method="post">
                                <button class="buttonOrangeStep2">
                                    <span>Fahrzeug wählen</span>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-3 hidden-md hidden-sm hidden-xs">
                        <div class="fontsizeStep2 paddingtopStep2">76,31 € pro Tag</div>
                        <div class="fontsizeStep2">456,23 € Gesamt</div>
                        <div class="paddingSmallTopStep2">
                            <form action="@Url.Action(" Step3","Home")" method="post">
                                <button class="buttonOrangeStep2">
                                    <span>Fahrzeug wählen</span>
                                </button>
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div style="border-bottom:1px solid #CCC;padding-bottom:40px;"></div>
    <div class="row">
        <div class="paddingtopStep2">
            <ul class="ulStep2">
                <li>
                    <div class="col-xs-12 col-sm-12 col-md-12 hidden-lg visible-xs visible-md visible-sm centeredStep2">
                        <h3 class="h3step2">BMW 3er</h3>
                        <h5 class="h5Step2">Limousine</h5>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                        <img src="~/Content/img/bmw-3er-4d-blau-2015.png" class="img-responsive imgStep2" />
                    </div>
                    <div class="col-xs-12 col-lg-5 visible-lg hidden-xs hidden-sm hidden-md">
                        <h3 class="h3step2">BMW 3er</h3>
                        <h5 class="h5Step2">Limousine</h5>
                        <div>Dieses Angebot enthält:</div>
                        <ul>
                            <li>Alle Kilometer inkl.</li>
                            <li>Testtext</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 hidden-lg visible-xs visible-md visible-sm centeredStep2">
                        <ul class="ulcenterStep2 paddingSmallTopStep2">
                            <li>Alle Kilometer inkl.</li>
                            <li>Testtext</li>
                        </ul>
                        <div class="fontsizeStep2 paddingSmallTopStep2">76,31 € pro Tag</div>
                        <div class="fontsizeStep2">456,23 € Gesamt</div>
                        <div class="paddingSmallTopStep2">
                            <form action="@Url.Action(" Step3","Home")" method="post">
                                <button class="buttonOrangeStep2">
                                    <span>Fahrzeug wählen</span>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-3 hidden-md hidden-sm hidden-xs">
                        <div class="fontsizeStep2 paddingtopStep2">76,31 € pro Tag</div>
                        <div class="fontsizeStep2">456,23 € Gesamt</div>
                        <div class="paddingSmallTopStep2">
                            <form action="@Url.Action(" Step3","Home")" method="post">
                                <button class="buttonOrangeStep2">
                                    <span>Fahrzeug wählen</span>
                                </button>
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div style="border-bottom:1px solid #CCC;padding-bottom:40px;"></div>
    <div class="row">
        <div class="paddingtopStep2">
            <ul class="ulStep2">
                <li>
                    <div class="col-xs-12 col-sm-12 col-md-12 hidden-lg visible-xs visible-md visible-sm centeredStep2">
                        <h3 class="h3step2">Alfa Romeo</h3>
                        <h5 class="h5Step2">Limousine</h5>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                        <img src="~/Content/img/alfa-romeo-giulia-silber-2016.png" class="img-responsive imgStep2" />
                    </div>
                    <div class="col-xs-12 col-lg-5 visible-lg hidden-xs hidden-sm hidden-md">
                        <h3 class="h3step2">Alfa Romeo</h3>
                        <h5 class="h5Step2">Limousine</h5>
                        <div>Dieses Angebot enthält:</div>
                        <ul>
                            <li>Alle Kilometer inkl.</li>
                            <li>Testtext</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 hidden-lg visible-xs visible-md visible-sm centeredStep2">
                        <ul class="ulcenterStep2 paddingSmallTopStep2">
                            <li>Alle Kilometer inkl.</li>
                            <li>Testtext</li>
                        </ul>
                        <div class="fontsizeStep2 paddingSmallTopStep2">76,31 € pro Tag</div>
                        <div class="fontsizeStep2">456,23 € Gesamt</div>
                        <div class="paddingSmallTopStep2">
                            <form action="@Url.Action(" Step3","Home")" method="post">
                                <button class="buttonOrangeStep2">
                                    <span>Fahrzeug wählen</span>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-3 hidden-md hidden-sm hidden-xs">
                        <div class="fontsizeStep2 paddingtopStep2">76,31 € pro Tag</div>
                        <div class="fontsizeStep2">456,23 € Gesamt</div>
                        <div class="paddingSmallTopStep2">
                            <form action="@Url.Action(" Step3","Home")" method="post">
                                <button class="buttonOrangeStep2">
                                    <span>Fahrzeug wählen</span>
                                </button>
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div style="border-bottom:1px solid #CCC;padding-bottom:40px;"></div>
    <div class="row">
        <div class="paddingtopStep2">
            <ul class="ulStep2">
                <li>
                    <div class="col-xs-12 col-sm-12 col-md-12 hidden-lg visible-xs visible-md visible-sm centeredStep2">
                        <h3 class="h3step2">Mercedes-Benz E-Klasse</h3>
                        <h5 class="h5Step2">Limousine</h5>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                        <img src="~/Content/img/mb-e-klasse-4d-schwarz-2016.png" class="img-responsive imgStep2" />
                    </div>
                    <div class="col-xs-12 col-lg-5 visible-lg hidden-xs hidden-sm hidden-md">
                        <h3 class="h3step2">Mercedes-Benz E-Klasse</h3>
                        <h5 class="h5Step2">Limousine</h5>
                        <div>Dieses Angebot enthält:</div>
                        <ul>
                            <li>Alle Kilometer inkl.</li>
                            <li>Testtext</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 hidden-lg visible-xs visible-md visible-sm centeredStep2">
                        <ul class="ulcenterStep2 paddingSmallTopStep2">
                            <li>Alle Kilometer inkl.</li>
                            <li>Testtext</li>
                        </ul>
                        <div class="fontsizeStep2 paddingSmallTopStep2">76,31 € pro Tag</div>
                        <div class="fontsizeStep2">456,23 € Gesamt</div>
                        <div class="paddingSmallTopStep2">
                            <form action="@Url.Action(" Step3","Home")" method="post">
                                <button class="buttonOrangeStep2">
                                    <span>Fahrzeug wählen</span>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-3 hidden-md hidden-sm hidden-xs">
                        <div class="fontsizeStep2 paddingtopStep2">76,31 € pro Tag</div>
                        <div class="fontsizeStep2">456,23 € Gesamt</div>
                        <div class="paddingSmallTopStep2">
                            <form action="@Url.Action(" Step3","Home")" method="post">
                                <button class="buttonOrangeStep2">
                                    <span>Fahrzeug wählen</span>
                                </button>
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div style="border-bottom:1px solid #CCC;padding-bottom:40px;"></div>
    <div class="row">
        <div class="paddingtopStep2">
            <ul class="ulStep2">
                <li>
                    <div class="col-xs-12 col-sm-12 col-md-12 hidden-lg visible-xs visible-md visible-sm centeredStep2">
                        <h3 class="h3step2">BMW 7er</h3>
                        <h5 class="h5Step2">Limousine</h5>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                        <img src="~/Content/img/bmw-7er-4d-grau-2015.png" class="img-responsive imgStep2" />
                    </div>
                    <div class="col-xs-12 col-lg-5 visible-lg hidden-xs hidden-sm hidden-md">
                        <h3 class="h3step2">BMW 7er</h3>
                        <h5 class="h5Step2">Limousine</h5>
                        <div>Dieses Angebot enthält:</div>
                        <ul>
                            <li>Alle Kilometer inkl.</li>
                            <li>Testtext</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 hidden-lg visible-xs visible-md visible-sm centeredStep2">
                        <ul class="ulcenterStep2 paddingSmallTopStep2">
                            <li>Alle Kilometer inkl.</li>
                            <li>Testtext</li>
                        </ul>
                        <div class="fontsizeStep2 paddingSmallTopStep2">76,31 € pro Tag</div>
                        <div class="fontsizeStep2">456,23 € Gesamt</div>
                        <div class="paddingSmallTopStep2">
                            <form action="@Url.Action(" Step3","Home")" method="post">
                                <button class="buttonOrangeStep2">
                                    <span>Fahrzeug wählen</span>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-3 hidden-md hidden-sm hidden-xs">
                        <div class="fontsizeStep2 paddingtopStep2">76,31 € pro Tag</div>
                        <div class="fontsizeStep2">456,23 € Gesamt</div>
                        <div class="paddingSmallTopStep2">
                            <form action="@Url.Action(" Step3","Home")" method="post">
                                <button class="buttonOrangeStep2">
                                    <span>Fahrzeug wählen</span>
                                </button>
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div style="border-bottom:1px solid #CCC;padding-bottom:40px;"></div>
    <div class="row">
        <div class="paddingtopStep2">
            <ul class="ulStep2">
                <li>
                    <div class="col-xs-12 col-sm-12 col-md-12 hidden-lg visible-xs visible-md visible-sm centeredStep2">
                        <h3 class="h3step2">Mazda 6</h3>
                        <h5 class="h5Step2">Kombi</h5>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                        <img src="~/Content/img/mazda-6-kombi-blau-2013.png" class="img-responsive imgStep2" />
                    </div>
                    <div class="col-xs-12 col-lg-5 visible-lg hidden-xs hidden-sm hidden-md">
                        <h3 class="h3step2">Mazda 6</h3>
                        <h5 class="h5Step2">Kombi</h5>
                        <div>Dieses Angebot enthält:</div>
                        <ul>
                            <li>Alle Kilometer inkl.</li>
                            <li>Testtext</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 hidden-lg visible-xs visible-md visible-sm centeredStep2">
                        <ul class="ulcenterStep2 paddingSmallTopStep2">
                            <li>Alle Kilometer inkl.</li>
                            <li>Testtext</li>
                        </ul>
                        <div class="fontsizeStep2 paddingSmallTopStep2">76,31 € pro Tag</div>
                        <div class="fontsizeStep2">456,23 € Gesamt</div>
                        <div class="paddingSmallTopStep2">
                            <form action="@Url.Action(" Step3","Home")" method="post">
                                <button class="buttonOrangeStep2">
                                    <span>Fahrzeug wählen</span>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-3 hidden-md hidden-sm hidden-xs">
                        <div class="fontsizeStep2 paddingtopStep2">76,31 € pro Tag</div>
                        <div class="fontsizeStep2">456,23 € Gesamt</div>
                        <div class="paddingSmallTopStep2">
                            <form action="@Url.Action(" Step3","Home")" method="post">
                                <button class="buttonOrangeStep2">
                                    <span>Fahrzeug wählen</span>
                                </button>
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div style="border-bottom:1px solid #CCC;padding-bottom:40px;"></div>
    <div class="row">
        <div class="paddingtopStep2">
            <ul class="ulStep2">
                <li>
                    <div class="col-xs-12 col-sm-12 col-md-12 hidden-lg visible-xs visible-md visible-sm centeredStep2">
                        <h3 class="h3step2">BMW X1</h3>
                        <h5 class="h5Step2">SUV</h5>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                        <img src="~/Content/img/bmw-x1-5d-weiss-2015.png" class="img-responsive imgStep2" />
                    </div>
                    <div class="col-xs-12 col-lg-5 visible-lg hidden-xs hidden-sm hidden-md">
                        <h3 class="h3step2">BMW X1</h3>
                        <h5 class="h5Step2">SUV</h5>
                        <div>Dieses Angebot enthält:</div>
                        <ul>
                            <li>Alle Kilometer inkl.</li>
                            <li>Testtext</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 hidden-lg visible-xs visible-md visible-sm centeredStep2">
                        <ul class="ulcenterStep2 paddingSmallTopStep2">
                            <li>Alle Kilometer inkl.</li>
                            <li>Testtext</li>
                        </ul>
                        <div class="fontsizeStep2 paddingSmallTopStep2">76,31 € pro Tag</div>
                        <div class="fontsizeStep2">456,23 € Gesamt</div>
                        <div class="paddingSmallTopStep2">
                            <form action="@Url.Action(" Step3","Home")" method="post">
                                <button class="buttonOrangeStep2">
                                    <span>Fahrzeug wählen</span>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-3 hidden-md hidden-sm hidden-xs">
                        <div class="fontsizeStep2 paddingtopStep2">76,31 € pro Tag</div>
                        <div class="fontsizeStep2">456,23 € Gesamt</div>
                        <div class="paddingSmallTopStep2">
                            <form action="@Url.Action(" Step3","Home")" method="post">
                                <button class="buttonOrangeStep2">
                                    <span>Fahrzeug wählen</span>
                                </button>
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div style="border-bottom:1px solid #CCC;padding-bottom:40px;"></div>
    <div class="row">
        <div class="paddingtopStep2">
            <ul class="ulStep2">
                <li>
                    <div class="col-xs-12 col-sm-12 col-md-12 hidden-lg visible-xs visible-md visible-sm centeredStep2">
                        <h3 class="h3step2">VW Polp</h3>
                        <h5 class="h5Step2">Kombi</h5>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                        <img src="~/Content/img/vw-polo-5d-schwarz-2016.png" class="img-responsive imgStep2" />
                    </div>
                    <div class="col-xs-12 col-lg-5 visible-lg hidden-xs hidden-sm hidden-md">
                        <h3 class="h3step2">VW Polo</h3>
                        <h5 class="h5Step2">Kombi</h5>
                        <div>Dieses Angebot enthält:</div>
                        <ul>
                            <li>Alle Kilometer inkl.</li>
                            <li>Testtext</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 hidden-lg visible-xs visible-md visible-sm centeredStep2">
                        <ul class="ulcenterStep2 paddingSmallTopStep2">
                            <li>Alle Kilometer inkl.</li>
                            <li>Testtext</li>
                        </ul>
                        <div class="fontsizeStep2 paddingSmallTopStep2">76,31 € pro Tag</div>
                        <div class="fontsizeStep2">456,23 € Gesamt</div>
                        <div class="paddingSmallTopStep2">
                            <form action="@Url.Action(" Step3","Home")" method="post">
                                <button class="buttonOrangeStep2">
                                    <span>Fahrzeug wählen</span>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-3 hidden-md hidden-sm hidden-xs">
                        <div class="fontsizeStep2 paddingtopStep2">76,31 € pro Tag</div>
                        <div class="fontsizeStep2">456,23 € Gesamt</div>
                        <div class="paddingSmallTopStep2">
                            <form action="@Url.Action(" Step3","Home")" method="post">
                                <button class="buttonOrangeStep2">
                                    <span>Fahrzeug wählen</span>
                                </button>
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div style="border-bottom:1px solid #CCC;padding-bottom:40px;"></div>
    <div class="row">
        <div class="paddingtopStep2">
            <ul class="ulStep2">
                <li>
                    <div class="col-xs-12 col-sm-12 col-md-12 hidden-lg visible-xs visible-md visible-sm centeredStep2">
                        <h3 class="h3step2">Mini Cooper</h3>
                        <h5 class="h5Step2">Limousine</h5>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                        <img src="~/Content/img/mini-cooper-3d-schwarz-2014.png" class="img-responsive imgStep2" />
                    </div>
                    <div class="col-xs-12 col-lg-5 visible-lg hidden-xs hidden-sm hidden-md">
                        <h3 class="h3step2">Mini Cooper</h3>
                        <h5 class="h5Step2">Limousine</h5>
                        <div>Dieses Angebot enthält:</div>
                        <ul>
                            <li>Alle Kilometer inkl.</li>
                            <li>Testtext</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 hidden-lg visible-xs visible-md visible-sm centeredStep2">
                        <ul class="ulcenterStep2 paddingSmallTopStep2">
                            <li>Alle Kilometer inkl.</li>
                            <li>Testtext</li>
                        </ul>
                        <div class="fontsizeStep2 paddingSmallTopStep2">76,31 € pro Tag</div>
                        <div class="fontsizeStep2">456,23 € Gesamt</div>
                        <div class="paddingSmallTopStep2">
                            <form action="@Url.Action(" Step3","Home")" method="post">
                                <button class="buttonOrangeStep2">
                                    <span>Fahrzeug wählen</span>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-3 hidden-md hidden-sm hidden-xs">
                        <div class="fontsizeStep2 paddingtopStep2">76,31 € pro Tag</div>
                        <div class="fontsizeStep2">456,23 € Gesamt</div>
                        <div class="paddingSmallTopStep2">
                            <form action="@Url.Action(" Step3","Home")" method="post">
                                <button class="buttonOrangeStep2">
                                    <span>Fahrzeug wählen</span>
                                </button>
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div style="border-bottom:1px solid #CCC;padding-bottom:40px;"></div>
    <div class="row">
        <div class="paddingtopStep2">
            <ul class="ulStep2">
                <li>
                    <div class="col-xs-12 col-sm-12 col-md-12 hidden-lg visible-xs visible-md visible-sm centeredStep2">
                        <h3 class="h3step2">Audi A6</h3>
                        <h5 class="h5Step2">Limousine</h5>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                        <img src="~/Content/img/audi-a6-4d-schwarz-2015.png" class="img-responsive imgStep2" />
                    </div>
                    <div class="col-xs-12 col-lg-5 visible-lg hidden-xs hidden-sm hidden-md">
                        <h3 class="h3step2">Audi A6</h3>
                        <h5 class="h5Step2">Limousine</h5>
                        <div>Dieses Angebot enthält:</div>
                        <ul>
                            <li>Alle Kilometer inkl.</li>
                            <li>Testtext</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 hidden-lg visible-xs visible-md visible-sm centeredStep2">
                        <ul class="ulcenterStep2 paddingSmallTopStep2">
                            <li>Alle Kilometer inkl.</li>
                            <li>Testtext</li>
                        </ul>
                        <div class="fontsizeStep2 paddingSmallTopStep2">76,31 € pro Tag</div>
                        <div class="fontsizeStep2">456,23 € Gesamt</div>
                        <div class="paddingSmallTopStep2">
                            <form action="@Url.Action(" Step3","Home")" method="post">
                                <button class="buttonOrangeStep2">
                                    <span>Fahrzeug wählen</span>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-3 hidden-md hidden-sm hidden-xs">
                        <div class="fontsizeStep2 paddingtopStep2">76,31 € pro Tag</div>
                        <div class="fontsizeStep2">456,23 € Gesamt</div>
                        <div class="paddingSmallTopStep2">
                            <form action="@Url.Action(" Step3","Home")" method="post">
                                <button class="buttonOrangeStep2">
                                    <span>Fahrzeug wählen</span>
                                </button>
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div style="border-bottom:1px solid #CCC;padding-bottom:40px;"></div>
    <div class="row">
        <div class="paddingtopStep2">
            <ul class="ulStep2">
                <li>
                    <div class="col-xs-12 col-sm-12 col-md-12 hidden-lg visible-xs visible-md visible-sm centeredStep2">
                        <h3 class="h3step2">BMW 2er</h3>
                        <h5 class="h5Step2">Limousine</h5>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                        <img src="~/Content/img/bmw-2er-2d-weiss-2014.png" class="img-responsive imgStep2" />
                    </div>
                    <div class="col-xs-12 col-lg-5 visible-lg hidden-xs hidden-sm hidden-md">
                        <h3 class="h3step2">BMW 2er</h3>
                        <h5 class="h5Step2">Limousine</h5>
                        <div>Dieses Angebot enthält:</div>
                        <ul>
                            <li>Alle Kilometer inkl.</li>
                            <li>Testtext</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 hidden-lg visible-xs visible-md visible-sm centeredStep2">
                        <ul class="ulcenterStep2 paddingSmallTopStep2">
                            <li>Alle Kilometer inkl.</li>
                            <li>Testtext</li>
                        </ul>
                        <div class="fontsizeStep2 paddingSmallTopStep2">76,31 € pro Tag</div>
                        <div class="fontsizeStep2">456,23 € Gesamt</div>
                        <div class="paddingSmallTopStep2">
                            <form action="@Url.Action(" Step3","Home")" method="post">
                                <button class="buttonOrangeStep2">
                                    <span>Fahrzeug wählen</span>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-3 hidden-md hidden-sm hidden-xs">
                        <div class="fontsizeStep2 paddingtopStep2">76,31 € pro Tag</div>
                        <div class="fontsizeStep2">456,23 € Gesamt</div>
                        <div class="paddingSmallTopStep2">
                            <form action="@Url.Action(" Step3","Home")" method="post">
                                <button class="buttonOrangeStep2">
                                    <span>Fahrzeug wählen</span>
                                </button>
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div style="border-bottom:1px solid #CCC;padding-bottom:40px;"></div>
    <div class="row">
        <div class="paddingtopStep2">
            <ul class="ulStep2">
                <li>
                    <div class="col-xs-12 col-sm-12 col-md-12 hidden-lg visible-xs visible-md visible-sm centeredStep2">
                        <h3 class="h3step2">VW Golf 7</h3>
                        <h5 class="h5Step2">Limousine</h5>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                        <img src="~/Content/img/vw-golf-7-5d-silber-2012.png" class="img-responsive imgStep2" />
                    </div>
                    <div class="col-xs-12 col-lg-5 visible-lg hidden-xs hidden-sm hidden-md">
                        <h3 class="h3step2">VW Golf 7</h3>
                        <h5 class="h5Step2">Limousine</h5>
                        <div>Dieses Angebot enthält:</div>
                        <ul>
                            <li>Alle Kilometer inkl.</li>
                            <li>Testtext</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 hidden-lg visible-xs visible-md visible-sm centeredStep2">
                        <ul class="ulcenterStep2 paddingSmallTopStep2">
                            <li>Alle Kilometer inkl.</li>
                            <li>Testtext</li>
                        </ul>
                        <div class="fontsizeStep2 paddingSmallTopStep2">76,31 € pro Tag</div>
                        <div class="fontsizeStep2">456,23 € Gesamt</div>
                        <div class="paddingSmallTopStep2">
                            <form action="@Url.Action(" Step3","Home")" method="post">
                                <button class="buttonOrangeStep2">
                                    <span>Fahrzeug wählen</span>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-3 hidden-md hidden-sm hidden-xs">
                        <div class="fontsizeStep2 paddingtopStep2">76,31 € pro Tag</div>
                        <div class="fontsizeStep2">456,23 € Gesamt</div>
                        <div class="paddingSmallTopStep2">
                            <form action="@Url.Action(" Step3","Home")" method="post">
                                <button class="buttonOrangeStep2">
                                    <span>Fahrzeug wählen</span>
                                </button>
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div style="border-bottom:1px solid #CCC;padding-bottom:40px;"></div>
    <div class="row">
        <div class="paddingtopStep2">
            <ul class="ulStep2">
                <li>
                    <div class="col-xs-12 col-sm-12 col-md-12 hidden-lg visible-xs visible-md visible-sm centeredStep2">
                        <h3 class="h3step2">Ford Focus</h3>
                        <h5 class="h5Step2">Kombi</h5>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                        <img src="~/Content/img/ford-focus-kombi-blau-2015.png" class="img-responsive imgStep2" />
                    </div>
                    <div class="col-xs-12 col-lg-5 visible-lg hidden-xs hidden-sm hidden-md">
                        <h3 class="h3step2">Ford Focus</h3>
                        <h5 class="h5Step2">Kombi</h5>
                        <div>Dieses Angebot enthält:</div>
                        <ul>
                            <li>Alle Kilometer inkl.</li>
                            <li>Testtext</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 hidden-lg visible-xs visible-md visible-sm centeredStep2">
                        <ul class="ulcenterStep2 paddingSmallTopStep2">
                            <li>Alle Kilometer inkl.</li>
                            <li>Testtext</li>
                        </ul>
                        <div class="fontsizeStep2 paddingSmallTopStep2">76,31 € pro Tag</div>
                        <div class="fontsizeStep2">456,23 € Gesamt</div>
                        <div class="paddingSmallTopStep2">
                            <form action="@Url.Action(" Step3","Home")" method="post">
                                <button class="buttonOrangeStep2">
                                    <span>Fahrzeug wählen</span>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-3 hidden-md hidden-sm hidden-xs">
                        <div class="fontsizeStep2 paddingtopStep2">76,31 € pro Tag</div>
                        <div class="fontsizeStep2">456,23 € Gesamt</div>
                        <div class="paddingSmallTopStep2">
                            <form action="@Url.Action(" Step3","Home")" method="post">
                                <button class="buttonOrangeStep2">
                                    <span>Fahrzeug wählen</span>
                                </button>
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
