@model kundt_front_end.Models.ModelStepClass
@{
    ViewBag.Title = "Step4";
}
<style>
    .h4Step3 {
        padding-top: 5px;
        color: #002f41;
    }

    .buttonOrangeForwardStep3 {
        background-color: #f99b1c;
        border: none;
        color: #ffffff;
        font-size: 1em;
        height: 37.5px;
        width: 150px;
        font-weight: 700;
        letter-spacing: .5px;
        text-align: center;
        border-radius: 4px;
    }

    .buttonOrangeForwardStep3OhneAnimation {
        background-color: #f99b1c;
        border: none;
        color: #ffffff;
        font-size: 1em;
        height: 37.5px;
        width: 150px;
        font-weight: 700;
        letter-spacing: .5px;
        text-align: center;
        display: inline-block;
        border-radius: 4px;
    }

    .buttonOrangeForwardStep3 span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

        .buttonOrangeForwardStep3 span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -30px;
            transition: 0.5s;
            font-size: 15px;
        }

    .buttonOrangeForwardStep3:hover span {
        padding-right: 15px;
    }

        .buttonOrangeForwardStep3:hover span:after {
            opacity: 1;
            right: 0;
        }

    .buttonOrangeForwardStep3:hover {
        background-color: #f99b1c;
        border: none;
        color: #ffffff;
        font-size: 1em;
        height: 37.5px;
        width: 150px;
        font-weight: 700;
        letter-spacing: .5px;
        text-align: center;
    }

    .buttonOrangeReturnStep3 {
        background-color: #f99b1c;
        border: none;
        color: #ffffff;
        font-size: 1em;
        height: 37.5px;
        width: 150px;
        font-weight: 700;
        letter-spacing: .5px;
        text-align: center;
        display: inline-block;
        border-radius: 4px;
    }

        .buttonOrangeReturnStep3 span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }

            .buttonOrangeReturnStep3 span:after {
                content: '\00ab';
                position: absolute;
                opacity: 0;
                top: 0;
                left: -30px;
                transition: 0.5s;
                font-size: 15px;
            }

        .buttonOrangeReturnStep3:hover span {
            padding-left: 15px;
        }

            .buttonOrangeReturnStep3:hover span:after {
                opacity: 1;
                left: 0;
            }

        .buttonOrangeReturnStep3:hover {
            background-color: #f99b1c;
            border: none;
            color: #ffffff;
            font-size: 1em;
            height: 37.5px;
            width: 150px;
            font-weight: 700;
            letter-spacing: .5px;
            text-align: center;
        }

    .collapseForm {
        margin-bottom: 15px;
    }

    .noLiMarker {
        list-style-type: none;
    }

    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 80%; /* Could be more or less, depending on screen size */
    }

    /* The Close Button */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }


    .icon-car {
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2019.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20viewBox%3D%220%200%20510.72%20510.72%22%20style%3D%22enable-background%3Anew%200%200%20510.72%20510.72%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cg%20transform%3D%22translate%281%201%29%22%3E%0D%0A%09%3Cg%3E%0D%0A%09%09%3Cg%3E%0D%0A%09%09%09%3Cpath%20d%3D%22M343.107%2C83.907C303%2C71.96%2C203.16%2C71.96%2C167.32%2C83.907c-4.267%2C0.853-5.973%2C4.267-5.973%2C8.533l8.533%2C93.867%0D%0A%09%09%09%09c0%2C2.56%2C1.707%2C4.267%2C3.413%2C5.973s4.267%2C2.56%2C6.827%2C1.707c43.52-11.093%2C104.96-11.093%2C149.333%2C0c0%2C0%2C0.853%2C0%2C1.707%2C0%0D%0A%09%09%09%09c1.707%2C0%2C3.413-0.853%2C5.973-1.707c1.707-0.853%2C3.413-3.413%2C3.413-5.973l8.533-93.867%0D%0A%09%09%09%09C349.933%2C89.027%2C347.373%2C84.76%2C343.107%2C83.907z%20M323.48%2C175.213c-21.333-4.267-45.227-6.827-69.12-6.827%0D%0A%09%09%09%09s-48.64%2C2.56-69.973%2C6.827l-6.827-76.8c35.84-8.533%2C114.347-8.533%2C152.747%2C0L323.48%2C175.213z%22/%3E%0D%0A%09%09%09%3Cpath%20d%3D%22M322.627%2C364.653H186.093c-14.507%2C0-25.6%2C11.093-25.6%2C25.6v59.733c0%2C4.267%2C2.56%2C7.68%2C6.827%2C8.533%0D%0A%09%09%09%09c29.013%2C5.973%2C58.027%2C8.533%2C87.04%2C8.533c29.013%2C0%2C58.027-2.56%2C87.04-8.533c4.267-0.853%2C6.827-4.267%2C6.827-8.533v-59.733%0D%0A%09%09%09%09C348.227%2C375.747%2C337.133%2C364.653%2C322.627%2C364.653z%20M331.16%2C443.16c-51.2%2C9.387-102.4%2C9.387-153.6%2C0v-52.907%0D%0A%09%09%09%09c0-5.12%2C3.413-8.533%2C8.533-8.533h136.533c5.12%2C0%2C8.533%2C3.413%2C8.533%2C8.533V443.16z%22/%3E%0D%0A%09%09%09%3Cpath%20d%3D%22M463.427%2C294.68c0.853%2C0.853%2C2.56%2C1.707%2C4.267%2C1.707c1.707%2C0%2C2.56%2C0%2C4.267-1.707c2.56-1.707%2C4.267-4.267%2C4.267-7.68%0D%0A%09%09%09%09v-42.667c0-2.56-1.707-5.12-4.267-6.827l-89.6-57.018V90.733c0-23.04-2.56-42.667-8.533-67.413%0D%0A%09%09%09%09c-0.853-3.413-3.413-5.973-6.827-5.973L313.24%2C5.4c-39.253-8.533-80.213-8.533-118.613%2C0l-53.76%2C11.947%0D%0A%09%09%09%09c-2.56%2C0.853-5.12%2C2.56-5.973%2C5.973c-5.973%2C24.747-8.533%2C44.373-8.533%2C67.413v82.075l-89.6%2C57.018%0D%0A%09%09%09%09c-2.56%2C0.853-4.267%2C4.267-4.267%2C6.827v42.667c0%2C3.413%2C1.707%2C5.973%2C4.267%2C7.68c1.707%2C0.853%2C2.56%2C0.853%2C4.267%2C0.853%0D%0A%09%09%09%09S44.44%2C287%2C45.293%2C287l81.067-51.588v73.93l-89.6%2C57.018c-2.56%2C0.853-4.267%2C4.267-4.267%2C6.827v42.667%0D%0A%09%09%09%09c0%2C3.413%2C1.707%2C5.973%2C4.267%2C7.68c1.707%2C0.853%2C2.56%2C0.853%2C4.267%2C0.853s3.413-0.853%2C4.267-0.853l81.067-51.588V484.12%0D%0A%09%09%09%09c0%2C14.507%2C11.093%2C25.6%2C25.6%2C25.6h204.8c14.507%2C0%2C25.6-11.093%2C25.6-25.6V371.092l81.067%2C51.588%0D%0A%09%09%09%09c0.853%2C0.853%2C2.56%2C1.707%2C4.267%2C1.707c1.707%2C0%2C2.56%2C0%2C4.267-1.707c2.56-1.707%2C4.267-4.267%2C4.267-7.68v-42.667%0D%0A%09%09%09%09c0-2.56-1.707-5.12-4.267-6.827l-89.6-57.018v-65.396L463.427%2C294.68z%20M459.16%2C250.307v22.187l-76.8-48.64v-22.187%0D%0A%09%09%09%09L459.16%2C250.307z%20M49.56%2C263.107V240.92l76.8-48.64v22.187L49.56%2C263.107z%20M49.56%2C399.64v-22.187l76.8-48.64V351L49.56%2C399.64z%0D%0A%09%09%09%09%20M365.293%2C484.12c0%2C5.12-3.413%2C8.533-8.533%2C8.533h-204.8c-5.12%2C0-8.533-3.413-8.533-8.533V356.973v-42.667V220.44v-42.667v-87.04%0D%0A%09%09%09%09c0-20.48%2C1.707-37.547%2C6.827-58.027l48.64-11.093c36.693-8.533%2C75.093-8.533%2C110.933%2C0l48.64%2C11.093%0D%0A%09%09%09%09c5.12%2C20.48%2C6.827%2C38.4%2C6.827%2C58.027v94.72v42.667v85.333v42.667V484.12z%20M459.16%2C378.307v22.187l-76.8-48.64v-22.187%0D%0A%09%09%09%09L459.16%2C378.307z%22/%3E%0D%0A%09%09%09%3Cpath%20d%3D%22M343.107%2C220.44c-2.56-1.707-5.973-0.853-8.533%2C0.853l-34.133%2C25.6c-2.56%2C1.707-3.413%2C4.267-3.413%2C6.827v76.8%0D%0A%09%09%09%09c0%2C5.12%2C3.413%2C8.533%2C8.533%2C8.533h34.133c5.12%2C0%2C8.533-3.413%2C8.533-8.533v-102.4C348.227%2C224.707%2C345.667%2C222.147%2C343.107%2C220.44z%0D%0A%09%09%09%09%20M331.16%2C321.987h-17.067v-64l17.067-12.8V321.987z%22/%3E%0D%0A%09%09%09%3Cpath%20d%3D%22M169.027%2C339.053h34.133c5.12%2C0%2C8.533-3.413%2C8.533-8.533v-76.8c0-2.56-0.853-5.12-3.413-6.827l-34.133-25.6%0D%0A%09%09%09%09c-2.56-1.707-5.973-2.56-8.533-0.853c-3.413%2C1.707-5.12%2C4.267-5.12%2C7.68v102.4C160.493%2C335.64%2C163.907%2C339.053%2C169.027%2C339.053z%0D%0A%09%09%09%09%20M177.56%2C245.187l17.067%2C12.8v64H177.56V245.187z%22/%3E%0D%0A%09%09%3C/g%3E%0D%0A%09%3C/g%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3C/svg%3E%0D%0A');
        background-repeat: no-repeat;
    }

    .paddingSmallStep4 {
        padding-top: 20px;
    }
    /* Progress-Bar */
    .miniButton {
        color: white;
        height: 35px;
        width: 35px;
        background-color: #f99b1c;
        border-radius: 35px;
        font-size: 18px;
        border-style: none;
        border-left: solid 1px;
        border-bottom: solid 1px;
        border-left-color: antiquewhite;
        border-bottom-color: antiquewhite;
        margin: auto 0% auto 1%;
    }

    .miniButtonOp {
        color: white;
        height: 35px;
        width: 35px;
        background-color: #f99b1c;
        border-radius: 35px;
        font-size: 18px;
        border-style: none;
        border-left: solid 1px;
        border-bottom: solid 1px;
        border-left-color: antiquewhite;
        border-bottom-color: antiquewhite;
        margin: auto 0% auto 1%;
        opacity: 0.3;
    }

    .myButton {
        color: white;
        height: 45px;
        width: 45px;
        background-color: #f99b1c;
        border-radius: 45px;
        font-size: 25px;
        border-style: none;
        border-left: solid 1px;
        border-bottom: solid 1px;
        border-left-color: antiquewhite;
        border-bottom-color: antiquewhite;
        margin: auto 0% auto 1%;
    }

    .myButtonOp {
        color: white;
        height: 45px;
        width: 45px;
        background-color: #f99b1c;
        border-radius: 45px;
        font-size: 25px;
        border-style: none;
        opacity: 0.3;
        border-bottom: solid 1px;
        border-bottom-color: antiquewhite;
        margin: auto 0% auto 1%;
    }

    .myButton:active {
        height: 40px;
        width: 40px;
        border-radius: 40px;
        font-size: 22px;
        animation-name: anima01;
        animation-iteration-count: infinite;
        animation-duration: 2.5s;
    }

    .myButtonOp:focus, .myButton:focus, .miniButton:focus, .miniButtonOp:focus {
        outline: none;
    }

    .noCurs {
        cursor: default;
    }

    .opacity {
        opacity: 1.0;
    }

    @@keyframes anima01 {
        0% {
            background-color: darkorange;
        }

        25% {
            background-color: #f99b1c;
        }

        50% {
            background-color: darkorange;
        }

        75% {
            background-color: #f99b1c;
        }

        100% {
            background-color: darkorange;
        }
    }

    @@keyframes anima02 {
        from {
            width: 65%;
        }

        to {
            width: 100%;
        }
    }

    .myBorder {
        /*border-color: darkorange;*/
        padding: 15px 10px 5px 10px;
    }

    .myBar01 {
        height: 6px;
        margin-top: 18px;
        background-color: #f99b1c;
        animation-name: anima02;
        animation-duration: 3s;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
    }

    .containerBar {
        width: 50%;
        margin-left: 0px;
        border-left: solid 3px;
        border-left-color: #f99b1c;
        padding-left: 0px;
        height: 43px;
        border-radius: 1px;
        margin-left: 10px;
    }
    /*form-group:focus{
            outline-color: #f99b1c;
        }*/


    /* Progress-Bar Ende */
</style>

@*<script>
            // Get the modal
            function openModal() {


                var modal = document.getElementById('myModal');

                // Get the button that opens the modal
                var btn = document.getElementById("myBtn");

                // Get the <span> element that closes the modal
                var span = document.getElementsByClassName("close")[0];

                // When the user clicks on the button, open the modal
                btn.onclick = function () {
                    modal.style.display = "block";
                }

                // When the user clicks on <span> (x), close the modal
                span.onclick = function () {
                    modal.style.display = "none";
                }

                // When the user clicks anywhere outside of the modal, close it
                window.onclick = function (event) {
                    if (event.target == modal) {
                        modal.style.display = "none";
                    }
                }
            }




            /*! grunt-grunticon Stylesheet Loader - v2.1.2 | https://github.com/filamentgroup/grunticon | (c) 2015 Scott Jehl, Filament Group, Inc. | MIT license. */

            (function (e) { function t(t, n, r, o) { "use strict"; function a() { for (var e, n = 0; u.length > n; n++) u[n].href && u[n].href.indexOf(t) > -1 && (e = !0); e ? i.media = r || "all" : setTimeout(a) } var i = e.document.createElement("link"), l = n || e.document.getElementsByTagName("script")[0], u = e.document.styleSheets; return i.rel = "stylesheet", i.href = t, i.media = "only x", i.onload = o || null, l.parentNode.insertBefore(i, l), a(), i } var n = function (r, o) { "use strict"; if (r && 3 === r.length) { var a = e.navigator, i = e.Image, l = !(!document.createElementNS || !document.createElementNS("http://www.w3.org/2000/svg", "svg").createSVGRect || !document.implementation.hasFeature("http://www.w3.org/TR/SVG11/feature#Image", "1.1") || e.opera && -1 === a.userAgent.indexOf("Chrome") || -1 !== a.userAgent.indexOf("Series40")), u = new i; u.onerror = function () { n.method = "png", n.href = r[2], t(r[2]) }, u.onload = function () { var e = 1 === u.width && 1 === u.height, a = r[e && l ? 0 : e ? 1 : 2]; n.method = e && l ? "svg" : e ? "datapng" : "png", n.href = a, t(a, null, null, o) }, u.src = "data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw==", document.documentElement.className += " grunticon" } }; n.loadCSS = t, e.grunticon = n })(this); (function (e, t) { "use strict"; var n = t.document, r = "grunticon:", o = function (e) { if (n.attachEvent ? "complete" === n.readyState : "loading" !== n.readyState) e(); else { var t = !1; n.addEventListener("readystatechange", function () { t || (t = !0, e()) }, !1) } }, a = function (e) { return t.document.querySelector('link[href$="' + e + '"]') }, c = function (e) { var t, n, o, a, c, i, u = {}; if (t = e.sheet, !t) return u; n = t.cssRules ? t.cssRules : t.rules; for (var l = 0; n.length > l; l++) o = n[l].cssText, a = r + n[l].selectorText, c = o.split(");")[0].match(/US\-ASCII\,([^"']+)/), c && c[1] && (i = decodeURIComponent(c[1]), u[a] = i); return u }, i = function (e) { var t, o, a; o = "data-grunticon-embed"; for (var c in e) if (a = c.slice(r.length), t = n.querySelectorAll(a + "[" + o + "]"), t.length) for (var i = 0; t.length > i; i++) t[i].innerHTML = e[c], t[i].style.backgroundImage = "none", t[i].removeAttribute(o); return t }, u = function (t) { "svg" === e.method && o(function () { i(c(a(e.href))), "function" == typeof t && t() }) }; e.embedIcons = i, e.getCSS = a, e.getIcons = c, e.ready = o, e.svgLoadedCallback = u, e.embedSVG = u })(grunticon, this);
    </script>*@
@*<noscript><link href="~/Content/icons.fallback.css" rel="stylesheet"></noscript>*@





<div class="container" style="margin-top: 20px;">
    <div class="myBorder hidden-xs" style="text-align:center">
        <div class="col-sm-2 col-sm-offset-1">
            <form action="@Url.Action("Step3", "Home")" method="post">
                <button class="myButton">1</button>
            </form>
            <h5>Fahrzeug wählen</h5>
        </div>
        <div class="col-sm-2">
            <form action="@Url.Action("Step3", "Home")" method="post">
                <button class="myButton">2</button>
            </form>
            <h5>Detailansicht</h5>
        </div>
        <div class="col-sm-2">
            <button class="myButtonOp opacity noCurs">3</button>
            <h5>Anmeldung</h5>
        </div>
        <div class="col-sm-2">
            <button class="myButtonOp noCurs">4</button>
            <h5>Buchung</h5>
        </div>
        <div class="col-sm-2">
            <button class="myButtonOp noCurs">5</button>
            <h5>Abschluss</h5>
        </div>

        <div class="row">
            <div class="container-fluid containerBar">
                <div class="myBar01"></div>
            </div>
        </div>
    </div>
    <div class="myBorder hidden-sm hidden-md hidden-lg hidden-xl" style="text-align:center">
        <div class="col-xs-2 col-xs-offset-1">
            <button class="miniButton">1</button>
        </div>
        <div class="col-xs-2">
            <button class="miniButton">2</button>
        </div>
        <div class="col-xs-2">
            <button class="miniButton noCurs">3</button>
        </div>
        <div class="col-xs-2">
            <button class="miniButtonOp noCurs">4</button>
        </div>
        <div class="col-xs-2">
            <button class="miniButtonOp noCurs">5</button>
        </div>
    </div>
    <div class="row">
        <div style="padding-top:20px;"></div>
        <div class="hidden-xs col-sm-4 col-md-4 col-lg-4" style="border-left:solid 3px; border-color:#f99b1c; margin-left:20px">
            <h3 style="margin-bottom:0px">@Html.DisplayFor(m => m.gebuchtesAuto.tblTyp.tblMarke.Marke)</h3>@Html.DisplayFor(m => m.gebuchtesAuto.tblTyp.tblMarke.Marke)
            <p style="padding-bottom:10px; margin-top:0px">@Html.DisplayFor(m => m.gebuchtesAuto.tblTyp.Typ)</p>
            <img src="~/Content/img/mb-c-klasse-kombi-5d-schwarz-2014.png" class="img-responsive" style="width:350px" />

            @*div-Bereich unterhalb img*@
            <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="col-lg-6">
                    <h4 class="h4Step3">Abholung</h4>
                    <p>Wien am @Model.date_von.ToShortDateString()</p>
                </div>
                <div class="col-lg-6">
                    <h4 class="h4Step3">Rückgabe</h4>
                    <p>Wien am @Model.date_bis.ToShortDateString()</p>
                </div>
                <div class="col-lg-6">
                    <h4 class="h4Step3">Mietdauer</h4>
                    <p>@Html.DisplayFor(d => d.Mietdauer) Tage</p>
                </div>
                <div class="col-lg-6">
                    <h4 class="h4Step3">Preis</h4>
                    <p>@Html.DisplayFor(d => d.Gesamtpreis) Euro</p>
                </div>
                @*<div>
                    <h3 class="h3Step3">Sonderausstattung</h3>
                    <ul>
                        @if (Model.gebuchtesAuto.tblAusstattung != null)
                        {
                            foreach (var ausstattung in Model.gebuchtesAuto.tblAusstattung)
                            {
                                <li class="okZeichen1">@Html.DisplayFor(a => ausstattung.Ausstattung)</li>
                            }
                        }
                    </ul>
                </div>*@
            </div>
        </div>
        @*sichtbar auf kleinem Format (xs)*@
        <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
            <h3 style="margin-top:0px; margin-bottom:0px; text-align:center">@Html.DisplayFor(m => m.gebuchtesAuto.tblTyp.tblMarke.Marke)</h3>
            <p style="padding-bottom:10px; margin-top:0px;text-align:center">@Html.DisplayFor(m => m.gebuchtesAuto.tblTyp.Typ)</p>
            <img src="~/Content/img/mb-c-klasse-kombi-5d-schwarz-2014.png" class="img-responsive" style="max-width:250px" />
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h4 class="h4Step3">Abholung</h4>
                <p>Wien am @Model.date_von.ToShortDateString())</p>
                <h4 class="h4Step3">Rückgabe</h4>
                <p>Wien am @Model.date_bis.ToShortDateString())</p>
                <h4 class="h4Step3">Mietdauer</h4>
                <p>@Html.DisplayFor(d => d.Mietdauer) Tage</p>
                <h4 class="h4Step3">Preis</h4>
                <p>@Html.DisplayFor(d => d.Gesamtpreis) Euro</p>
            </div>
        </div>
        @*Erste Box für Login Anfang*@
        <div class="col-xs-12 col-md-8 col-lg-7">
            <div class="form-horizontal" style="padding: 20px;">
                @if (ViewBag.registerResult > 0)
                {
                    <p class="text-danger">Eine Bestätigungs Email wurde verschickt! Bitte klicken Sie auf den Link in dieser Email um die Registrierung abzuschließen.</p>
                }
                else if (ViewBag.activationResult == -1)
                {
                    <p class="text-danger">Aktivierungs Code ist ungültig oder wurde bereits Verwendet!</p>
                }
                else if (ViewBag.activationResult == 0)
                {
                    <p class="text-danger">Aktivierung erfolgreich! Sie können sich nun einloggen.</p>
                }
                <form action="@Url.Action("Index", "Login")" method="post">
                    <div class="form-group">
                        @*E-Mail1*@
                        <label for="emailLogin" class="col-md-3 control-label">Email:</label>
                        <div class="col-md-9">
                            <input type="email" class="form-control" id="emailLogin" name="email" placeholder="max.mustermann@kundt.at" onkeyup="ValidateEmail('Login'), ValidateInput('Login')">
                        </div>
                    </div>
                    <div class="form-group">
                        @*Passwort1*@
                        <label for="passwordLogin" class="col-md-3 control-label">Passwort:</label>
                        <div class="col-md-9">
                            <input type="password" class="form-control" id="passwordLogin" name="password" placeholder="⋅⋅⋅⋅⋅⋅⋅⋅⋅" onkeyup="PasswordCheck('Login'), ValidateInput('Login')">
                        </div>
                    </div>
                    @{
                        //Anzeigen der Fehlermeldung.
                        if (TempData["loginResult"] != null)
                        {
                            ViewBag.loginResult = TempData["loginResult"];
                            if (ViewBag.loginResult == -1)
                            {
                                <div class="form-group">
                                    <div class="col-md-offset-3 col-md-8">
                                        <p class="text-danger">Email oder Password ist Falsch!</p>
                                    </div>
                                </div>
                            }
                            else if (ViewBag.loginResult == -2)
                            {
                                <div class="form-group">
                                    <div class="col-md-offset-3 col-md-8">
                                        <p class="text-danger">Bitte Aktivieren Sie ihre Email bevor Sie sich einloggen!</p>
                                    </div>
                                </div>
                            }
                        }
                    }
                    <div class="container">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="row">
                                <div class="hidden-sm hidden-xs col-md-12">
                                    @*Buttons Zurück, Registieren, Login*@
                                    <a href="@Url.Action("Step3","Home", new { id = System.Web.HttpContext.Current.Session["IDAuto"]})" method="post">
                                        <input type="hidden" value="@Model.gebuchtesAutoID" name="gebuchtesAutoID" />
                                        <input type="hidden" value="@Model.userID" name="userID" />
                                        <input type="hidden" value="@Model.date_von_string" name="date_von_string" />
                                        <input type="hidden" value="@Model.date_bis_string" name="date_bis_string" />
                                        <input type="hidden" value="@Model.Gesamtpreis" name="Gesamtpreis" />
                                        <input type="hidden" value="@Model.Mietdauer" name="Mietdauer" />
                                        <input type="hidden" value="Rücktrittsversicherung" name="hatRtVersicherung" />
                                        <button type="button" @*type="submit"*@ class="buttonOrangeReturnStep3" style="margin-left:-100px; float:left"><span>Zurück</span></button>
                                    </a>
                                    @*</form>*@
                                    <button type="button" class="buttonOrangeForwardStep3OhneAnimation" style="margin-left:10px; float:left" data-toggle="collapse" data-target="#registrieren" onclick="Bottom()"><span>Registrieren</span></button>
                                    <button type="submit" id="submitLogin" class="buttonOrangeForwardStep3OhneAnimation" style="float:left; margin-left:10px" value="Login" disabled><span>Login</span></button>
                                </div>
                                <div class="hidden-lg hidden-md">
                                    @*Buttons Zurück, Registieren, Login*@
                                    <div class="col-sm-12 col-xs-12" style="margin-bottom: 10px;">
                                        <a href="@Url.Action("Step3", "Home", new {  id = System.Web.HttpContext.Current.Session["IDAuto"]})" method="post">
                                            <input type="hidden" value="@Model.gebuchtesAutoID" name="gebuchtesAutoID" />
                                            <input type="hidden" value="@Model.userID" name="userID" />
                                            <input type="hidden" value="@Model.date_von_string" name="date_von_string" />
                                            <input type="hidden" value="@Model.date_bis_string" name="date_bis_string" />
                                            <input type="hidden" value="@Model.Gesamtpreis" name="Gesamtpreis" />
                                            <input type="hidden" value="@Model.Mietdauer" name="Mietdauer" />
                                            <input type="hidden" value="Rücktrittsversicherung" name="hatRtVersicherung" />
                                            <button type="button" @*type="submit"*@ class="buttonOrangeReturnStep3" style="width: 280px;"><span>Zurück</span></button>
                                        </a>
                                    </div>
                                    <div class="col-sm-12 col-xs-12" style="margin-bottom: 10px;">
                                        <input type="button" class="buttonOrangeForwardStep3OhneAnimation" data-toggle="collapse" data-target="#registrieren" style="width: 280px;" value="Registrieren" onclick="Bottom()" />
                                    </div>
                                    <div class="col-sm-12 col-xs-12">
                                        <button type="submit" id="submitLoginMobile" class="buttonOrangeForwardStep3OhneAnimation" style="width: 280px;" disabled><span>Login</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form> @*Erste Box für Login Ende*@
            </div>
            <div>
                <form class="form-horizontal" style="margin-left:15px;" action="@Url.Action("Registrierung", "Login")" method="post">
                    @*Zweite Box für Regestrieren Anfang*@
                    <div id="registrieren" class="collapse" style="border-top: 1px solid black;">
                        <div class="form-group" style="margin-top: 35px;">
                            @if (ViewBag.registerResult == -1)
                            {
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <p class="text-danger" id="errorMessage">Es existiert bereits ein Account mit dieser Email!</p>
                                </div>
                            </div>
                        }
                        <label for="sex" class="col-md-3 control-label collapseForm">Anrede:</label>
                        <div class="col-md-9">
                            @*Box Anrede*@
                            <select id="sex" name="sex" class="form-control collapseForm" required>
                                <option value="" selected disabled hidden>Anrede</option>
                                <option value="Herr">Herr</option>
                                <option value="Frau">Frau</option>
                            </select>
                        </div>
                        <label for="prename" class="col-md-3 control-label collapseForm">Vorname:</label>
                        <div class="col-md-9">
                            @*Box Vorname*@
                            <input type="text" class="form-control collapseForm" id="prename" name="prename" placeholder="Max" required>
                        </div>
                        <label for="sirname" class="col-md-3 control-label collapseForm">Nachname:</label>
                        <div class="col-md-9">
                            @*Box Nachname*@
                            <input type="text" class="form-control collapseForm" id="sirname" name="sirname" placeholder="Mustermann" required>
                        </div>
                        <label for="adress" class="col-md-3 control-label collapseForm">Adresse:</label>
                        <div class="col-md-9">
                            @*Box Adresse*@
                            <input type="text" class="form-control collapseForm" id="adress" name="adress" placeholder="Musterstraße 23" required>
                        </div>
                        @if (ViewBag.registerResult == -2)
                        {
                            <div class="col-md-offset-3 col-md-9">
                                <p class="text-danger" id="errorMessage">Die eingegebene PLZ oder der eingegebene Ort ist nicht korrekt.</p>
                            </div>
                        }
                        <label for="city" class="col-md-3 control-label collapseForm">Ort:</label>
                        <div class="col-md-9">
                            @*Box Ort*@
                            <input type="text" class="form-control collapseForm" id="city" name="city" placeholder="Wien" required>
                        </div>
                        <label for="postcode" class="col-md-3 control-label collapseForm">PLZ:</label>
                        <div class="col-md-9">
                            @*Box PLZ*@
                            <input type="number" class="form-control collapseForm" id="postcode" name="postcode" placeholder="1234" required>
                        </div>
                        <label for="telephone" class="col-md-3 control-label collapseForm">Telefon:</label>
                        <div class="col-md-9">
                            @*Box Telefon*@
                            <input type="text" class="form-control collapseForm" id="telephone" name="telephone" placeholder="0123 4567890" required>
                        </div>
                        <label for="bDay" class="col-md-3 control-label collapseForm">Geburtstag:</label>
                        <div class="col-md-9 form-inline">
                            @*Box Geburtstag*@
                            <select class="form-control collapseForm" id="bDay" name="bDay" required>
                                <option value="" selected disabled hidden>Tag</option>
                                @{
                                    for (int i = 1; i < 32; i++)
                                    {
                                        <option value="@i">@i</option>
                                    }
                                }
                            </select>
                            <select class="form-control collapseForm" id="bMonth" name="bMonth" required>
                                <option value="" selected disabled hidden>Monat</option>
                                @{
                                    string[] months = System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.MonthNames;
                                    for (int i = 0; i <= months.Length - 2; i++)
                                    {
                                        <option value="@(i+1)">@months[i]</option>
                                    }
                                }
                            </select>
                            <select class="form-control collapseForm" id="bYear" name="bYear" required>
                                <option value="" selected disabled hidden>Jahr</option>
                                @{
                                    DateTime today = new DateTime();
                                    today = DateTime.Today;
                                    for (int i = today.Year - 17; i > today.Year - 130; i--)
                                    {
                                        <option value="@i">@i</option>
                                    }
                                }
                            </select>
                        </div>
                        <label for="pass" class="col-md-3 control-label collapseForm">Reisepassnummer::</label>
                        <div class="col-md-9">
                            @*Box ReisepassNr*@
                            <input type="number" class="form-control collapseForm" id="pass" name="pass" placeholder="012345" required>
                        </div>
                        <label for="emailRegister" class="col-md-3 control-label collapseForm">Email:</label>
                        <div class="col-md-9">
                            @*Box Email*@
                            <input type="text" class="form-control collapseForm" id="emailRegister" name="email" placeholder="max.mustermann@kundt.at" onkeyup="ValidateEmail('Register'), ValidateInput('Register')">
                        </div>
                        <label for="emailConfirmation" class="col-md-3 control-label collapseForm">Email bestätigen:</label>
                        <div class="col-md-9">
                            @*Box Email bestätigen*@
                            <input type="text" class="form-control collapseForm" id="emailConfirmation" placeholder="max.mustermann@kundt.at" onkeyup="EmailConfirmation(), ValidateInput('Register')">
                        </div>
                        <label for="passwordRegister" class="col-md-3 control-label collapseForm">Passwort:</label>
                        <div class="col-md-9">
                            @*Box Passwort*@
                            <input type="password" class="form-control collapseForm" id="passwordRegister" name="password" placeholder="⋅⋅⋅⋅⋅⋅⋅⋅⋅" onkeyup="PasswordCheck('Register'), ValidateInput('Register')">
                        </div>
                        <label for="passwordConfirmation" class="col-md-3 control-label collapseForm">Passwort bestätigen:</label>
                        <div class="col-md-9">
                            @*Box Passwort bestätigen*@
                            <input type="password" class="form-control collapseForm" id="passwordConfirmation" placeholder="⋅⋅⋅⋅⋅⋅⋅⋅⋅" onkeyup="PasswordConfirmationCheck(), ValidateInput('Register')">
                        </div>
                    </div>
                    @*Button Registieren2*@
                    <div class="row">

                        <div class="hidden-md hidden-lg" style="position: relative; left: 15px;">
                            <button type="submit" id="submitRegisterMobile" class="buttonOrangeForwardStep3OhneAnimation" style="width: 280px;" disabled><span>Registrieren</span></button>
                        </div>
                        <div class="hidden-sm hidden-xs" style="position: relative; left: 118px;">
                            <button type="submit" id="submitRegister" class="buttonOrangeForwardStep3OhneAnimation" style="width: 280px;" disabled><span>Registrieren</span></button>
>>>>>>> origin/saruman
                        </div>
                    </div>
                </form>
            </div>
        </div>
        @*Zweite Box für Regestrieren Ende*@
    </div>
</div>
