@model kundt_front_end.Models.ModelStepClass

@{
    ViewBag.Title = "Step2";
}

<style>
    .centeredStep2 {
        text-align: center;
        display: block;
    }

    .h2step2 {
        color: #000000;
        padding-top: 20px;
        font-size: 2em;
    }

    .h2step2MD {
        color: #000000;
        padding-top: 20px;
        font-size: 1.8em;
    }

    .h2step2SM {
        color: #000000;
        padding-top: 20px;
        font-size: 1.6em;
    }

    .h2step2XS {
        color: #000000;
        padding-top: 20px;
        font-size: 1.4em;
    }

    .paddingSmallTopStep2 {
        padding-top: 20px;
    }

    .paddingSmallBotStep2 {
        padding-bottom: 20px;
    }

    .h3step2 {
        font-size: 32px;
        font-weight: 400;
        color: #002f41;
        display: block;
    }

    .h5Step2 {
        font-size: 18px;
    }

    .fontsizeStep2 {
        font-size: 18px;
        font-weight: 600;
        color: #002f41;
    }

    .imgStep2 {
        margin: auto;
    }

    /*#region Buttons*/
    .buttonOrangeStep2 {
        background-color: #f99b1c;
        border: none;
        color: #ffffff;
        font-size: 15px;
        height: 50px;
        width: 200px;
        font-weight: 700;
        letter-spacing: .5px;
        text-align: center;
        display: inline-block;
        border-radius: 4px;
    }

        /*.filterButton {
        background-color: white;
        border: #dbdbdb;
        color: #dbdbdb;
        font-size: 15px;
        height: 40px;
        width: 150px;
        font-weight: 700;
        letter-spacing: .5px;
        text-align: center;
        display: inline-block;
        border-radius: 4px;
    }

        .filterButton span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.3s;
        }

            .filterButton span:after {

                position: absolute;
                opacity: 0;
                top: 0;
                transition: 0.3s;
                font-size: 15px;
            }

        .filterButton:hover span {
            font-size: 18px;
        }

            .filterButton:hover span:after {
                opacity: 1;
                bottom: 0;
            }

        .filterButton:hover {
            background-color: white;
            border: #f99b1c;
            color: #f99b1c;
            font-size: 15px;
            height: 40px;
            width: 150px;
            font-weight: 700;
            letter-spacing: .5px;
            text-align: center;
        }*/

        .buttonOrangeStep2 span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }

            .buttonOrangeStep2 span:after {
                content: '\00bb';
                position: absolute;
                opacity: 0;
                top: 0;
                right: -30px;
                transition: 0.5s;
                font-size: 15px;
            }

        .buttonOrangeStep2:hover span {
            padding-right: 15px;
        }

            .buttonOrangeStep2:hover span:after {
                opacity: 1;
                right: 0;
            }

        .buttonOrangeStep2:hover {
            background-color: #f99b1c;
            border: none;
            color: #ffffff;
            font-size: 15px;
            height: 50px;
            width: 200px;
            font-weight: 700;
            letter-spacing: .5px;
            text-align: center;
        }

    .buttonOrangeReturnStep2 {
        background-color: #f99b1c;
        border: none;
        color: #ffffff;
        font-size: 15px;
        height: 50px;
        width: 200px;
        font-weight: 700;
        letter-spacing: .5px;
        text-align: center;
        display: inline-block;
        border-radius: 4px;
    }

        .buttonOrangeReturnStep2 span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }

            .buttonOrangeReturnStep2 span:after {
                content: '\00ab';
                position: absolute;
                opacity: 0;
                top: 0;
                left: -30px;
                transition: 0.5s;
                font-size: 15px;
            }

        .buttonOrangeReturnStep2:hover span {
            padding-left: 15px;
        }

            .buttonOrangeReturnStep2:hover span:after {
                opacity: 1;
                left: 0;
            }

        .buttonOrangeReturnStep2:hover {
            background-color: #f99b1c;
            border: none;
            color: #ffffff;
            font-size: 15px;
            height: 50px;
            width: 200px;
            font-weight: 700;
            letter-spacing: .5px;
            text-align: center;
        }

    li {
        list-style-image: url(../../Content/img/ok-sign.png);
    }

    #content > div > div > div > ul > li {
        list-style: none;
    }

    #content > div > div > form > ul > li {
        list-style: none;
        position: relative;
        float: left;
        margin-right: 8px;
        margin-bottom: 8px;
        text-decoration: none;
    }
    /*#endregion*/
    /*#region Filter Formatierung*/
    .filterStep2 {
        background: #fff;
        padding: 10px;
        border: 1px solid #CCC;
        color: darkgrey;
        cursor: pointer;
        margin-right: 10px;
        font-weight: bold;
    }

        .filterStep2:hover {
            background: #fff;
            padding: 10px;
            border: 1px solid #f99b1c;
            color: #f99b1c;
            cursor: pointer;
        }

    .filterSmallStep2 {
        color: darkgrey;
        font-weight: bold;
        background-color: #ffffff;
        border: 1px solid #CCC;
    }

        .filterSmallStep2:hover {
            color: #f99b1c;
        }

    #content > div > div.hidden-xs.hidden-sm.hidden-md.col-lg-9 {
        top: -8px;
    }

        #content > div > div.hidden-xs.hidden-sm.hidden-md.col-lg-9 > form > ul > li {
            height: 38px;
            padding-top: 8px;
        }

            #content > div > div.hidden-xs.hidden-sm.hidden-md.col-lg-9 > form > ul > li > label > span:hover {
                cursor: pointer;
            }

            #content > div > div.hidden-xs.hidden-sm.hidden-md.col-lg-9 > form > ul > li > label:hover {
                cursor: pointer;
            }
    /*.panel {
        border: none;
        background-color: white;
        color: #f99b1c;
    }

        .panel:hover {
            border: none;
            background-color: #f99b1c;
            color: white;
        }


    .panel-group {
        border-top: solid 1px #CCC;
        border-bottom: solid 1px #CCC;
    }

    .list-group {
        border-color: #CCC;
        color: darkgrey;
    }

    .list-group-item:hover {
        background-color: #FFF;
        color: white;
    }

    .panel-collapse collapse {
        border-color: #f99b1c;
    }


    #content > div > div > form > ul > li > label > a:hover {
        text-decoration: none;
    }

    #content > div > div > form > ul > li > label > a:focus {
        text-decoration: none;
    }

    #content > div > div > form > ul > li > label > a:visited:focus {
        color: #f99b1c;
        border: 1px solid #f99b1c;
    }*/
    /*#region Filter Small*/
    #content > div > center > div > div > div > div > ul > li > a:hover {
        text-decoration: none;
    }

    #content > div > center > div > div > div > div > ul > li > a:focus {
        text-decoration: none;
    }

    #content > div > center > div > div > div > div > ul > li > a:visited:focus {
        color: darkgray;
        border: 1px solid #f99b1c;
    }

    #content > div > center > div > div > div > div > h4 > a:hover {
        text-decoration: none;
    }

    #content > div > center > div > div > div > div > h4 > a:focus {
        text-decoration: none;
    }

    #content > div > center > div > div > div > div > h4 > a:visited:focus {
        color: #f99b1c;
        border: 1px solid #f99b1c;
    }
    /*Filter Small Ende*/
    /*#endregion*/
    /*#region Filter Dropdown*/
    #content > div > div.hidden-xs.hidden-sm.hidden-md.col-lg-3 > form > div > div > button {
        text-shadow: 0 1px 0 #fff;
        background-image: -webkit-linear-gradient(top, #fff 100%, #fff 100%);
        background-image: -o-linear-gradient(top, #fff 100%, #fff 100%);
        background-image: -webkit-gradient(linear, left top, left bottom, (#fff));
        background-image: linear-gradient(to bottom, #fff 100%, #fff 100%);
        background-repeat: repeat-x;
        border-color: #dbdbdb;
        border-color: #ccc;
        box-shadow: none;
        border-radius: 0px;
    }

        #content > div > div.hidden-xs.hidden-sm.hidden-md.col-lg-3 > form > div > div > button:hover {
            text-shadow: 0 1px 0 #fff;
            background-image: -webkit-linear-gradient(top, #fff 100%, #fff 100%);
            background-image: -o-linear-gradient(top, #fff 100%, #fff 100%);
            background-image: -webkit-gradient(linear, left top, left bottom, (#fff));
            background-image: linear-gradient(to bottom, #fff 100%, #fff 100%);
            background-repeat: repeat-x;
            border-color: #dbdbdb;
            border-color: #ccc;
            color: #f99b1c;
            border: 1px solid #f99b1c;
            background-color: #FFF;
            box-shadow: none;
            border-radius: 0px;
        }

        #content > div > div.hidden-xs.hidden-sm.hidden-md.col-lg-3 > form > div > div > button:focus {
            text-shadow: 0 1px 0 #fff;
            background-image: -webkit-linear-gradient(top, #fff 100%, #fff 100%);
            background-image: -o-linear-gradient(top, #fff 100%, #fff 100%);
            background-image: -webkit-gradient(linear, left top, left bottom, (#fff));
            background-image: linear-gradient(to bottom, #fff 100%, #fff 100%);
            background-repeat: repeat-x;
            border-color: #dbdbdb;
            border-color: #ccc;
            color: #f99b1c;
            border: 1px solid #f99b1c;
            background-color: #FFF;
            box-shadow: none;
            border-radius: 0px;
        }

        #content > div > div.hidden-xs.hidden-sm.hidden-md.col-lg-3 > form > div > div > button:visited:focus {
            text-shadow: 0 1px 0 #fff;
            background-image: -webkit-linear-gradient(top, #fff 100%, #fff 100%);
            background-image: -o-linear-gradient(top, #fff 100%, #fff 100%);
            background-image: -webkit-gradient(linear, left top, left bottom, (#fff));
            background-image: linear-gradient(to bottom, #fff 100%, #fff 100%);
            background-repeat: repeat-x;
            border-color: #dbdbdb;
            border-color: #ccc;
            color: #f99b1c;
            border: 1px solid #f99b1c;
            background-color: #FFF;
            box-shadow: none;
            border-radius: 0px;
        }

    #content > div > div.hidden-xs.hidden-sm.hidden-md.col-lg-3 > form > div > div > div > ul > li > a:hover {
        color: orange;
        box-shadow: none;
    }

    .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
        background-color: black;
        color: orange;
        background-image: -webkit-linear-gradient(top, #fff 100%, #fff 100%);
        background-image: -o-linear-gradient(top, #fff 100%, #fff 100%);
        background-image: -webkit-gradient(linear, left top, left bottom, (#fff));
        background-image: linear-gradient(to bottom, #fff 100%, #fff 100%);
    }

    #content > div > div.hidden-xs.hidden-sm.hidden-md.col-lg-3 {
        top: -8px;
    }

        #content > div > div.hidden-xs.hidden-sm.hidden-md.col-lg-3 > form > div > div > button {
            height: 38px;
        }

            #content > div > div.hidden-xs.hidden-sm.hidden-md.col-lg-3 > form > div > div > button > span.filter-option.pull-left {
                font-weight: bold;
            }
    /*Filter Dropdown Ende*/
    /*#endregion*/
    /*Filter Formatierung Ende*/
    /*#endregion Filter Ende*/
    .ulStep2 {
        margin: auto;
        -webkit-padding-start: 0px;
    }

    .ulcenterStep2 {
        text-align: left;
        margin: auto;
        display: table;
    }

    .paddingtopStep2 {
        padding-top: 40px;
    }

    /*#region Progress-Bar */
    .miniButton {
        color: white;
        height: 35px;
        width: 35px;
        background-color: #f99b1c;
        border-radius: 35px;
        font-size: 18px;
        border-style: none;
        border-left: solid 1px;
        border-bottom: solid 1px;
        border-left-color: antiquewhite;
        border-bottom-color: antiquewhite;
        margin: auto 0% auto 1%;
    }

    .miniButtonOp {
        color: white;
        height: 35px;
        width: 35px;
        background-color: #f99b1c;
        border-radius: 35px;
        font-size: 18px;
        border-style: none;
        border-left: solid 1px;
        border-bottom: solid 1px;
        border-left-color: antiquewhite;
        border-bottom-color: antiquewhite;
        margin: auto 0% auto 1%;
        opacity: 0.3;
    }

    .myButton {
        color: white;
        height: 45px;
        width: 45px;
        background-color: #f99b1c;
        border-radius: 45px;
        font-size: 25px;
        border-style: none;
        border-left: solid 1px;
        border-bottom: solid 1px;
        border-left-color: antiquewhite;
        border-bottom-color: antiquewhite;
        margin: auto 0% auto 1%;
    }

    .myButtonOp {
        color: white;
        height: 45px;
        width: 45px;
        background-color: #f99b1c;
        border-radius: 45px;
        font-size: 25px;
        border-style: none;
        opacity: 0.3;
        border-left: solid 1px;
        border-left-color: antiquewhite;
        border-bottom: solid 1px;
        border-bottom-color: antiquewhite;
        margin: auto 0% auto 1%;
    }

    .myButton:active {
        height: 40px;
        width: 40px;
        border-radius: 40px;
        font-size: 22px;
        animation-name: anima01;
        animation-iteration-count: infinite;
        animation-duration: 2.5s;
    }

    .myButtonOp:focus, .myButton:focus, .miniButton:focus, .miniButtonOp:focus {
        outline: none;
    }

    .noCurs {
        cursor: default;
    }

    .opacity {
        opacity: 1.0;
    }

    @@keyframes anima01 {
        0% {
            background-color: darkorange;
        }

        25% {
            background-color: orange;
        }

        50% {
            background-color: darkorange;
        }

        75% {
            background-color: orange;
        }

        100% {
            background-color: darkorange;
        }
    }

    @@keyframes anima02 {
        from {
            width: 0%;
        }

        to {
            width: 100%;
        }
    }

    .myBorder {
        /*border-color: darkorange;*/
        padding: 15px 10px 5px 10px;
    }

    .myBar01 {
        height: 6px;
        margin-top: 18px;
        background-color: #f99b1c;
        animation-name: anima02;
        animation-duration: 3s;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
    }

    .containerBar {
        width: 18%;
        margin-left: 0px;
        border-left: solid 3px;
        border-left-color: #f99b1c;
        padding-left: 0px;
        height: 43px;
        border-radius: 1px;
        margin-left: 10px;
    }
    /*#endregion Progress-Bar Ende */
</style>

<div class="container" style="margin-top:20px">
    @*ProgressBar Implementation Begin*@
    <div class="myBorder hidden-xs" style="text-align:center">
        <div class="col-sm-2 col-sm-offset-1">
            <button class="myButtonOp opacity noCurs">1</button>
            <h5>Fahrzeug wählen</h5>
        </div>
        <div class="col-sm-2">
            <button class="myButtonOp noCurs">2</button>
            <h5>Detailansicht</h5>
        </div>
        <div class="col-sm-2">
            <button class="myButtonOp noCurs">3</button>
            <h5>Anmeldung</h5>
        </div>
        <div class="col-sm-2">
            <button class="myButtonOp noCurs">4</button>
            <h5>Buchung</h5>
        </div>
        <div class="col-sm-2">
            <button class="myButtonOp noCurs">5</button>
            <h5>Abschluss</h5>
        </div>
        <div class="row">
            <div class="container-fluid containerBar">
                <div class="myBar01"></div>
            </div>
        </div>
    </div>
    <div class="myBorder hidden-sm hidden-md hidden-lg hidden-xl" style="text-align:center">
        <div class="col-xs-2 col-xs-offset-1">
            <button class="miniButton noCurs">1</button>
        </div>
        <div class="col-xs-2">
            <button class="miniButtonOp noCurs">2</button>
        </div>
        <div class="col-xs-2">
            <button class="miniButtonOp noCurs">3</button>
        </div>
        <div class="col-xs-2">
            <button class="miniButtonOp noCurs">4</button>
        </div>
        <div class="col-xs-2">
            <button class="miniButtonOp noCurs">5</button>
        </div>
    </div>

    <div class="paddingSmallBotStep2 hidden-md hidden-sm hidden-xs">
        <h2 class="h2step2">Für den Zeitraum von @(Model.date_von.ToShortDateString()) bis @(Model.date_bis.ToShortDateString()) gibt es folgende Angebote!</h2>
    </div>
    <div class="paddingSmallBotStep2 hidden-lg hidden-sm hidden-xs">
        <h2 class="h2step2MD">Für den Zeitraum von @(Model.date_von.ToShortDateString()) bis @(Model.date_bis.ToShortDateString()) gibt es folgende Angebote!</h2>
    </div>
    <div class="paddingSmallBotStep2 hidden-lg hidden-md hidden-xs">
        <h2 class="h2step2SM">Für den Zeitraum von @(Model.date_von.ToShortDateString()) bis @(Model.date_bis.ToShortDateString()) gibt es folgende Angebote!</h2>
    </div>
    <div class="paddingSmallBotStep2 hidden-lg hidden-sm hidden-md" style="padding-top:10px;">
        <h2 class="h2step2XS">Für den Zeitraum von @(Model.date_von.ToShortDateString()) bis @(Model.date_bis.ToShortDateString()) gibt es folgende Angebote!</h2>
    </div>
    @*ProgressBar Implementation End*@
    @* Filterung *@
    <div class="hidden-xs hidden-sm hidden-md col-lg-9" style="display:inline-block">
        @*Testing post with filter*@
        <form action="@Url.Action("Step2","Home", Model)" method="post">
            <input type="hidden" value="" name="KlasseFilter" />
            <button class="filterStep2" style="float:left">
                <span>Alle anzeigen</span>
            </button>
        </form>
        <form action="@Url.Action("Step2","Home", Model)" method="post">
            <input type="hidden" value="kleinwagen" name="KlasseFilter" />
            <button class="filterStep2" style="float:left">
                <span>Kleinwagen</span>
            </button>
        </form>
        <form action="@Url.Action("Step2","Home", Model)" method="post">
            <input type="hidden" value="mittelklasse" name="KlasseFilter" />
            <button class="filterStep2" style="float:left">
                <span>Mittelklasse</span>
            </button>
        </form>
        <form action="@Url.Action("Step2","Home", Model)" method="post">
            <input type="hidden" value="luxusklasse" name="KlasseFilter" />
            <button class="filterStep2" style="float:left">
                <span>Luxusklasse</span>
            </button>
        </form>
    </div>

    <center>
        <div class="hidden-lg">
            <div>
                <form action="@Url.Action("Step2","Home", Model)" method="post" style="padding-bottom:2px;">
                    <input type="hidden" value="" name="KlasseFilter" />
                    <button class="filterSmallStep2" style="display:block;width:100%;height:100%;margin:0px;">Alle anzeigen</button>
                </form>
                <form action="@Url.Action("Step2","Home", Model)" method="post" style="padding-bottom:2px;">
                    <input type="hidden" value="kleinwagen" name="KlasseFilter" />
                    <button class="filterSmallStep2" style="display:block;width:100%;height:100%;margin:0px;">Kleinwagen</button>
                </form>
                <form action="@Url.Action("Step2","Home", Model)" method="post" style="padding-bottom:2px;">
                    <input type="hidden" value="mittelklasse" name="KlasseFilter" />
                    <button class="filterSmallStep2" style="display:block;width:100%;height:100%;margin:0px;">Mittelklasse</button>
                </form>
                <form action="@Url.Action("Step2","Home", Model)" method="post" style="padding-bottom:2px;">
                    <input type="hidden" value="luxusklasse" name="KlasseFilter" />
                    <button class="filterSmallStep2" style="display:block;width:100%;height:100%;margin:0px;">Luxusklasse</button>
                </form>
            </div>
        </div>
    </center>

    @*<div class="hidden-lg">
            <div class="panel-group">
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse2">Sitzanzahl</a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <ul class="list-group">
                            <li class="list-group-item" style="padding:10px;"><a href="#" class="filterSmallStep2" style="display:block;width:100%;height:100%;margin:0px;">2 Sitze</a></li>
                            <li class="list-group-item" style="padding:10px;"><a href="#" class="filterSmallStep2" style="display:block;width:100%;height:100%;margin:0px;">3 Sitze</a></li>
                            <li class="list-group-item" style="padding:10px;"><a href="#" class="filterSmallStep2" style="display:block;width:100%;height:100%;margin:0px;">4 Sitze</a></li>
                            <li class="list-group-item" style="padding:10px;"><a href="#" class="filterSmallStep2" style="display:block;width:100%;height:100%;margin:0px;">5 Sitze</a></li>
                            <li class="list-group-item" style="padding:10px;"><a href="#" class="filterSmallStep2" style="display:block;width:100%;height:100%;margin:0px;">Mehr als 5 Sitze</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>*@
    @*Filterung Ende *@

    @* Auto auflistung *@

    @foreach (var auto in Model.carTableFilter)
    {
        <div style="border-bottom:1px solid #CCC;padding-bottom:40px;padding-top:10px;"></div>
        <div class="row">
            <div class="paddingtopStep2">
                <ul class="ulStep2">
                    <li>
                        <div class="col-xs-12 col-sm-12 col-md-12 hidden-lg hidden-xs hidden-md hidden-sm centeredStep2">
                            <h3 class="h3step2">@Html.DisplayFor(m => auto.Marke) @Html.DisplayFor(m => auto.Typ)</h3>
                            <h5 class="h5Step2">@Html.DisplayFor(m => auto.Kategorie)</h5>
                        </div>
                        <div class="col-md-12 hidden-lg hidden-xs visible-md hidden-sm centeredStep2">
                            <h3 class="h2step2MD">@Html.DisplayFor(m => auto.Marke) @Html.DisplayFor(m => auto.Typ)</h3>
                            <h5 class="h5Step2">@Html.DisplayFor(m => auto.Kategorie)</h5>
                        </div>
                        <div class="col-sm-12 hidden-lg hidden-xs hidden-md visible-sm centeredStep2">
                            <h3 class="h2step2SM">@Html.DisplayFor(m => auto.Marke) @Html.DisplayFor(m => auto.Typ)</h3>
                            <h5 class="h5Step2">@Html.DisplayFor(m => auto.Kategorie)</h5>
                        </div>
                        <div class="col-xs-12 hidden-lg visible-xs hidden-md hidden-sm centeredStep2">
                            <h3 class="h2step2XS">@Html.DisplayFor(m => auto.Marke) @Html.DisplayFor(m => auto.Typ)</h3>
                            <h5 class="h5Step2">@Html.DisplayFor(m => auto.Kategorie)</h5>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                            @{
                                if (auto.Autobild != null)
                                {
                                    var image = Convert.ToBase64String(auto.Autobild);
                                    @Html.Raw("<img src=\"data:image/png;base64," + image + "\" class=\"img-responsive imgStep2\" />");
                                }
                                else
                                {
                                    <b>nix gucken</b>
                                }
                            }
                        </div>
                        <div class="col-xs-12 col-lg-5 visible-lg hidden-xs hidden-sm hidden-md">
                            <h3 class="h3step2">@Html.DisplayFor(m => auto.Marke) @Html.DisplayFor(m => auto.Typ)</h3>
                            <h5 class="h5Step2">@Html.DisplayFor(m => auto.Kategorie)</h5>
                            <h5>Sitzanzahl @Html.DisplayFor(m => auto.Sitze)</h5>
                            <div>Dieses Angebot enthält:</div>
                            <ul>
                                <li>Alle Kilometer inkl.</li>
                                <li>Wintertaugliche Bereifung inkl.</li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 hidden-lg visible-xs visible-md visible-sm centeredStep2">
                            <ul class="ulcenterStep2 paddingSmallTopStep2">
                                <li>Alle Kilometer inkl.</li>
                                <li>Wintertaugliche Bereifung inkl.</li>
                            </ul>
                            <div class="fontsizeStep2 paddingSmallTopStep2">@Html.DisplayFor(m => auto.Mietpreis) € pro Tag</div>
                            <div class="fontsizeStep2">@(Model.Mietdauer * auto.Mietpreis) € Gesamt</div>
                            <div class="paddingSmallTopStep2">
                                <form action="@Url.Action("Step3","Home", Model)" method="post">
                                    <input type="hidden" value="@auto.IDAuto" name="gebuchtesAutoID" />
                                    <input type="hidden" value="@Model.userID" name="userID" />
                                    <button class="buttonOrangeStep2">
                                        <span>Fahrzeug wählen</span>
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-3 hidden-md hidden-sm hidden-xs">
                            <div class="fontsizeStep2 paddingtopStep2">@Html.DisplayFor(m => auto.Mietpreis) pro Tag</div>
                            <div class="fontsizeStep2">@(Convert.ToInt32(((Model.date_bis - Model.date_von).TotalDays) + 1) * auto.Mietpreis) € Gesamt</div>
                            <div class="paddingtopStep2">
                                <form action="@Url.Action("Step3","Home", Model)" method="post">
                                    <input type="hidden" value="@auto.IDAuto" name="gebuchtesAutoID" />
                                    <input type="hidden" value="@Model.userID" name="userID" />
                                    <button class="buttonOrangeStep2">
                                        <span>Fahrzeug wählen</span>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
                                }
</div>
