@model kundt_front_end.Models.ModelStepClass

@{
    ViewBag.Title = "ViewPDF";
    Layout = null;
    ViewBag.Date = DateTime.Now;
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/font-awesome.min.css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        .col-lg-6 > p > span {
            float: right;
        }

        .h4Step3 {
            padding-top: 5px;
            color: #002f41;
        }

        .TextAufzählungStep3 {
            color: #655d5d;
        }

        li {
            list-style: none;
        }

        .okZeichen1 {
            list-style-image: url(../../../../Content/img/ok-sign.png);
            padding-bottom: 10px;
        }

        .h3Step3 {
            margin-top: 0px;
        }

        .CBStep3 {
            height: 20px;
            width: 20px;
        }

        .paddingSmallStep3 {
            padding-top: 30px;
        }

        .TextBox {
            border: none;
        }
    </style>
</head>
<body>
    <div class="container" style="margin-top:20px;">
        <div class="row">
            <div class="col-xs-12">
                <div class="col-xs-12" style="margin-left:10px; height:100%;">
                    <div class="col-md-3">
                        <img src="~/Content/img/kundt_logo_with_slogan.png" alt="PdfLogo" />
                    </div>
                    <div class="col-md-3" style="padding-top:15px;padding-bottom:20px;">
                        <p>
                            <h4>Kundt GmbH</h4>
                            Simmeringer Hauptstraße 47-49<br />
                            1110 Wien<br />
                            Austria<br />
                            <br />
                        </p>
                    </div>
                    <div class="col-xs-4" style="text-align:left;float:left;">
                        <h1>Buchungsbestätigung</h1>
                    </div>
                    <div class="col-xs-4" style="text-align:left;float:right;">
                        <div>Buchungsdatum: @ViewBag.Date.ToShortDateString()</div>
                        <div>Buchungsnummer: @Html.DisplayFor(m => m.IDBuchung)</div>
                    </div>
                    <div class="col-xs-12" style="border-top:1px solid #000000;padding-top:5px;"></div>
                    <div class="row col-xs-12" style="padding-top:15px;padding-bottom:15px;">
                        <div class="col-xs-6">
                            <h4 class="h3Step3" style="margin-bottom:0px"><b>Gebuchtes Auto:</b> @Html.DisplayFor(m => m.gebuchtesAuto.tblTyp.tblMarke.Marke) @Html.DisplayFor(m => m.gebuchtesAuto.tblTyp.Typ)</h4>
                            <div style="padding-top:10px;">
                                @{
                                    if (Model.gebuchtesAuto.AutoBild != null)
                                    {
                                        var image = Convert.ToBase64String(Model.gebuchtesAuto.AutoBild);
                                        @Html.Raw("<img src=\"data:image/png;base64," + image + "\" class=\"img-responsive\" />");
                                    }
                                }
                            </div>
                        </div>
                        <div class="col-xs-6" style="padding-top:30px;">
                            <div class="col-xs-6">
                                <h4>Abholung</h4>
                                <p>Wien am @Model.date_von_string</p>
                            </div>
                            <div class="col-xs-6">
                                <h4>Rückgabe</h4>
                                <p>Wien am @Model.date_bis_string</p>
                            </div>
                            <div class="col-xs-6">
                                <h4>Mietdauer</h4>
                                <p>@Html.DisplayFor(d => d.Mietdauer) Tage</p>
                            </div>
                            <div class="col-xs-6">
                                <h4>Gesamtpreis</h4>
                                <p>@Html.DisplayFor(d => d.Gesamtpreis) Euro</p>
                            </div>
                            <div class="col-xs-6">
                                <h4>Rücktrittsversicherung</h4>
                                <p>
                                    @{if (Model.HatRtVersicherung)
                                        {
                                        <p>Ja</p>
                                        }
                                        else
                                        {
                                            <p>Nein</p>
                                        }
                                    }</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12" style="border-top:1px solid #000000;"></div>
                        <div>
                            <div class="col-xs-12" style="margin-bottom:20px;margin-top:20px;">
                                <h4><b>Ihre Daten</b></h4>
                            </div>
                            <div class="col-xs-6">
                                <p><b>Anrede: </b><span>@Html.DisplayFor(model => model.kunde.Anrede)</span></p>
                                <p><b>Vorname: </b><span>@Html.DisplayFor(model => model.kunde.Vorname)</span></p>
                                <p><b>Nachname: </b><span>@Html.DisplayFor(model => model.kunde.Nachname)</span></p>
                                <p><b>Geburtsdatum: </b><span>@Model.kunde.GebDatum.ToShortDateString()</span></p>
                            </div>
                            <div class="col-xs-6">
                                <p><b>Straße: </b><span>@Html.DisplayFor(model => model.kunde.Strasse)</span></p>
                                <p><b>PLZ/Ort: </b><span>@Html.DisplayFor(model => model.kunde.tblPLZOrt.PLZ) @Html.DisplayFor(model => model.kunde.tblPLZOrt.Ort)</span></p>
                                <p><b>Telefon: </b><span>@Html.DisplayFor(model => model.kunde.Telefon)</span></p>
                                <p><b>Reisepassnr.: </b><span>@Html.DisplayFor(model => model.kunde.ReisepassNr)</span></p>
                            </div>
                        </div>
                        <div class="col-xs-12" style="padding-top:70px;">
                            <p>Bei Fragen stehen wir Ihnen selbstverständlich gern per E-Mail unter office@kundt.com <br>oder per Telefon unter +43 664 123 45 67 zur Verfügung.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>