<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/jquery-ui.min.css")
    @Styles.Render("~/Content/jquery-ui.structure.min.css")
    @Styles.Render("~/Content/jquery-ui.theme.min.css")
    @Styles.Render("~/Content/font-awesome.min.css")
    @Styles.Render("~/Content/bootstrap-theme.min.css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        html,
        body {
            margin: 0;
            padding: 0;
            height: 100%;
        }

        #wrapper {
            min-height: 100%;
            position: relative;
        }

        #header {
        }

        #content {
            padding-bottom: 40px;
        }

        #footer {
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
        }


        .navbar-brand {
            padding: 5px;
        }

        .navbar {
            margin-bottom: 0px;
        }

        .navbar-nav > li > a {
            padding-top: 35px;
            padding-bottom: 20px;
            font-size: 2em;
            font-weight: bold;
        }

        .navbar-toggle{
            margin-top: 30px;
        }

        .body-content {
            padding-left: 0px;
            padding-right: 0px;
        }


        .col-xs-center {
            float: none;
            margin-left: auto;
            margin-right: auto;
        }

        @@media screen and (min-width: 992px) {
            .col-md-offset-3_5 {
                margin-left: 29.175%;
            }
        }
    </style>
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <nav class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="@Url.Action("Index","Home")">
                            <img alt="Brand" src="~/Content/img/kundt_logo_with_slogan_right.png" />
                        </a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li>@Html.ActionLink("Login", "Index", "Home")</li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="container-fluid body-content">
            <div id="content">
                @RenderBody()
            </div>
                <footer id="footer" class="navbar-default" style="padding-top:10px;padding-bottom:10px;">
                    <div class="container text-center">
                        <div class="row">
                            <span class="col-md-offset-3_5 col-md-1"><a href="@Url.Action("Index","Home")">Impressum</a></span>
                            <span class="col-md-1 hidden-xs hidden-sm">|</span>
                            <span class="col-md-1"><a href="@Url.Action("Index","Home")">Kontakte</a></span>
                            <span class="col-md-1 hidden-xs hidden-sm">|</span>
                            <span class="col-md-1"><a href="@Url.Action("Index","Home")">AGB</a></span>
                        </div>
                    </div>
                </footer>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/jquery-ui.min.js")
    @Scripts.Render("~/Scripts/JS-Kundt-Index.js")
    @RenderSection("scripts", required: false)
</body>
</html>
